Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

.gitlab/ci/backend.yml:

.be_common:
  image: python:3.13-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/backend.yml
        - backend/pong/**/*
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r backend/tools/requirements.txt

be_code_check:
  stage: code_check
  extends: .be_common
  script:
    - make -s lint -C backend/pong
    - make -s formatcheck -C backend/pong
    - make -s typecheck -C backend/pong

be_unit_test:
  stage: test:unit
  extends: .be_common
  services:
    - name: postgres:17.0-bullseye
      alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  script:
    - export $(grep -v '^#' .env.example | xargs)
    - make unit-test -C backend/pong

.gitlab/ci/frontend.yml:

.fe_common:
  image: node:22.11-alpine3.20
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/frontend.yml
        - frontend/pong/**/*

fe_code_check:
  stage: code_check
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm install --save-dev --save-exact @biomejs/biome
    - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
    - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
    - npx @biomejs/biome ci

fe_unit_test:
  stage: test:unit
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm ci
  script:
    - npm run test:unit

:recycle: (FE:ObservableInput) DataSubject を利用する形に変更
  frontend/pong/js/components/tournament/TournamentStageTransitionButtonWithInput.js
  frontend/pong/js/components/utils/ObservableInput.js
Due: fe_code_check, fe_unit_test

:zap: (FE:Bootstrap) borders:setDanger を一つ追加
  frontend/pong/js/bootstrap/utilities/borders.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:DataSubject) observe 関数が戻り値を持つように拡張
  frontend/pong/js/core/DataSubject.js
Due: fe_code_check, fe_unit_test

:zap: (FE:ObservableInput) エラー表示のスタイリングを追加
  frontend/pong/js/components/utils/ObservableInput.js
Due: fe_code_check, fe_unit_test

:zap: (FE:WebSocket,Tournament) WebSocket, トーナメントの Enums を拡張
  frontend/pong/js/enums/TournamentEnums.js
  frontend/pong/js/enums/WebSocketEnums.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:isValidDisplayName) バリデーションを追加
  frontend/pong/js/constants/UserConstants.js
  frontend/pong/js/utils/user/isValidDisplayName.js
Due: fe_code_check, fe_unit_test

:zap: coderabitの4回目指摘修正
  frontend/pong/js/components/auth/LoginContainer.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:isValidTournamentId) バリデーションを追加
  frontend/pong/js/constants/TournamentConstants.js
  frontend/pong/js/utils/tournament/isValidTournamentId.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:mocks) トーナメント入場ののモックを追加
  frontend/pong/js/mocks/handlers/webSocket.js
  frontend/pong/js/mocks/utils/websocket/sendPayloads.js
  frontend/pong/js/mocks/utils/websocket/tournamentPayloadHandler.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:TournamentPayload) WebSocket ハンドラーを追加
  frontend/pong/js/websocket/payload/TournamentPayload.js
  frontend/pong/js/websocket/payload/tournament/createJoin.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:createJoin) ペイロード作成のテストを追加
  frontend/pong/tests/websocket/createJoin.test.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:TournamentJoinButton) Transition ボタンなど -> JoinButton
  frontend/pong/js/components/index.js
  frontend/pong/js/components/tournament/TournamentFinished.js
  frontend/pong/js/components/tournament/TournamentJoinButton.js
  frontend/pong/js/components/tournament/TournamentStageTransitionButton.js
  frontend/pong/js/components/tournament/TournamentStageTransitionButtonWithInput.js
  frontend/pong/js/components/tournament/TournamentWaiting.js
Due: fe_code_check, fe_unit_test

:zap: (FE:TournamentEntrance) 表示名の追加、WebSocket 連携
  frontend/pong/js/components/tournament/TournamentEntrance.js
Due: fe_code_check, fe_unit_test

:zap:(blocks) BlockRelationshipモデルを追加し,migrate後のmigrationファイルも追加
  backend/pong/users/blocks/constants.py
  backend/pong/users/blocks/migrations/0001_initial.py
  backend/pong/users/blocks/migrations/__init__.py
  backend/pong/users/blocks/models.py
Due: be_code_check, be_unit_test

:zap:(blocks,model) 自分自身をブロックしようとするとmodelレベルでエラーになるように追加
  backend/pong/users/blocks/models.py
Due: be_code_check, be_unit_test

:zap:(blocks) BlockRelationshipテーブルをadminサイトで表示できるように
  backend/pong/users/admin.py
  backend/pong/users/blocks/constants.py
Due: be_code_check, be_unit_test

:zap:(blocks,test) 正しいブロック関係が作れているかと,on_delete=CASCADEが正しく動作しているかのテスト追加
  backend/pong/users/blocks/tests/test_block_relationship_model.py
Due: be_code_check, be_unit_test

:zap:(blocks) ブロック関連のmodel,endpointなどを実装するblocksディレクトリを作成
  backend/pong/pong/settings.py
  backend/pong/users/blocks/__init__.py
  backend/pong/users/blocks/urls.py
  backend/pong/users/blocks/views.py
  backend/pong/users/urls.py
Due: be_code_check, be_unit_test

:recycle:(users,urls) 不要なカンマをなくしてformatterかけ直し
  backend/pong/users/urls.py
Due: be_code_check, be_unit_test

:zap:(blocks,test) BlockRelationshipモデルのunit testのための土台追加
  backend/pong/users/blocks/tests/__init__.py
  backend/pong/users/blocks/tests/test_block_relationship_model.py
Due: be_code_check, be_unit_test

:zap:(blcoks,test) 逆ブロックは可能であることと,エラー系のテスト追加
  backend/pong/users/blocks/tests/test_block_relationship_model.py
Due: be_code_check, be_unit_test

:bug:(friends,create) createのextend_schemaにlistのserializerがセットされていたので修正
  backend/pong/users/friends/views.py
Due: be_code_check, be_unit_test

:bug:(friends,create) フレンド追加のresponse例がリストになっていたので1つのdataに修正
  backend/pong/users/friends/views.py
Due: be_code_check, be_unit_test

:recycle:(friends,destroy) destroyのテストのクラス名が間違っていたので修正
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
  backend/pong/users/friends/tests/integration/test_destroy_views.py
Due: be_code_check, be_unit_test

:recycle:(friends,create) createのテストなのにlistのdocstringになっていたのを修正
  backend/pong/users/friends/tests/integration/test_create_views.py
Due: be_code_check, be_unit_test

:zap: (ws/share) online情報の格納で使用するSetデータ構造のための操作関数を追加
  backend/pong/ws/share/async_redis_client.py
Due: be_code_check, be_unit_test

:seedling: (ws/redis) 非同期なRedis操作クラスのひな型を作成
  backend/pong/ws/share/async_redis_client.py
Due: be_code_check, be_unit_test

:seedling: (redis) redisをkey-value storeとしても使うためにredisパッケージを追加
  backend/tools/requirements.in
  backend/tools/requirements.txt
Due: none

:recycle: (ws/redis) それぞれの関数が発生させる例外をdocstringに追加
  backend/pong/ws/share/async_redis_client.py
Due: be_code_check, be_unit_test

:zap: 定数化にしたメッセージを修正
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/constants/AuthConstants.js
  frontend/pong/js/constants/message/FrontendMessage.js
  frontend/pong/js/enums/MessageEnums.js
  frontend/pong/js/utils/validator/validateEmail.js
  frontend/pong/js/utils/validator/validatePassword.js
  frontend/pong/tests/validatePassword.test.js
Due: fe_code_check, fe_unit_test

:zap: (redis) redisの設定を.envから読み込むように変更
  .env.example
  .github/workflows/backend_code_check.yml
  .github/workflows/backend_test.yml
  backend/pong/pong/settings.py
  backend/pong/ws/share/async_redis_client.py
Due: be_code_check, be_unit_test

:zap: (ws/share/async_redis_client) テスト関数の前に呼び出されるfixtureを作成
  backend/pong/ws/share/tests/pytest_async_redis_client.py
Due: be_code_check, be_unit_test

:zap: (requirements.in) pytest関連のパッケージを追加
  backend/tools/requirements.in
  backend/tools/requirements.txt
Due: none

:zap: (ws/share/async_redis_client) redisクライアントの作成・削除のテストを作成
  backend/pong/ws/share/tests/pytest_async_redis_client.py
Due: be_code_check, be_unit_test

:zap: (ws/share/async_redis_client) 各ラッパー関数が内部で想定通り関数を呼び出せているか確認するテストを追加
  backend/pong/ws/share/tests/pytest_async_redis_client.py
Due: be_code_check, be_unit_test

:recycle: (ws/share/async_redis_client) フォーマッターと型チェックに対応
  backend/pong/ws/share/tests/pytest_async_redis_client.py
Due: be_code_check, be_unit_test

:zap: (pyproject.toml) pytest用の設定を追加
  backend/pong/pyproject.toml
Due: be_code_check, be_unit_test

:zap: (Makefile) make test でpytestも実行できるように更新
  backend/pong/Makefile
Due: be_code_check, be_unit_test

:zap: (pytest) 警告が出てたので、pyproject.tomlに設定を追加
  backend/pong/pyproject.toml
Due: be_code_check, be_unit_test

:seedling:(blocks,list) ブロック一覧取得用serializerのunit test追加
  backend/pong/users/blocks/serializers/tests/__init__.py
  backend/pong/users/blocks/serializers/tests/test_list_serializers.py
Due: be_code_check, be_unit_test
