Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

.gitlab/ci/backend.yml:

.be_common:
  image: python:3.13-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/backend.yml
        - backend/pong/**/*
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r backend/tools/requirements.txt

be_code_check:
  stage: code_check
  extends: .be_common
  script:
    - make -s lint -C backend/pong
    - make -s formatcheck -C backend/pong
    - make -s typecheck -C backend/pong

be_unit_test:
  stage: test:unit
  extends: .be_common
  services:
    - name: postgres:17.0-bullseye
      alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  script:
    - export $(grep -v '^#' .env.example | xargs)
    - make unit-test -C backend/pong

.gitlab/ci/frontend.yml:

.fe_common:
  image: node:22.11-alpine3.20
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/frontend.yml
        - frontend/pong/**/*

fe_code_check:
  stage: code_check
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm install --save-dev --save-exact @biomejs/biome
    - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
    - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
    - npx @biomejs/biome ci

fe_unit_test:
  stage: test:unit
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm ci
  script:
    - npm run test:unit

:zap: 存在しないパス名の対応とエンドポイントのパス指定修正
  backend/pong/login/two_factor_auth.py
  backend/pong/login/urls.py
  backend/pong/login/views/login.py
Due: be_code_check, be_unit_test

:bug: (ws/match) matchから退出した場合に、残ったほうがENDメッセージを待って止まってしまっていたので修正
  backend/pong/ws/match/match_manager.py
Due: be_code_check, be_unit_test

(review!) デフォルトの sample.png を追加
  backend/pong/media/avatars/sample.png
Due: be_code_check, be_unit_test

:zap: FEとの連携で起こったバグを修正
  backend/pong/login/migrations/0003_remove_twofactorauth_qr_code_path.py
  backend/pong/login/models.py
  backend/pong/login/test.py
  backend/pong/login/two_factor_auth.py
  backend/pong/login/views/login.py
  backend/pong/login/views/totp.py
Due: be_code_check, be_unit_test

:seedling: (FE:api) totp 対応のための api 追加、修正
  frontend/pong/js/api/utils/postTotp.js
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/constants/PongEvents.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:2fa) ログインからの 2fa ための画面を用意
  frontend/pong/js/components/auth/Verify2faContainer.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/views/LoginView.js
Due: fe_code_check, fe_unit_test

:bug: (ws/tournament) トーナメント進行タスクキャンセル時にデッドロックが発生してしまっていたデッドロックを修正
  backend/pong/ws/tournament/manager_registry.py
Due: be_code_check, be_unit_test

:zap: (BE:2fa) error時のtokenのレスポンスをそのまま返すようにした
  backend/pong/login/views/totp.py
Due: be_code_check, be_unit_test

:bug: (FE:2fa) document.createElement -> (カスタムの)createElement
  frontend/pong/js/components/auth/Verify2faContainer.js
Due: fe_code_check, fe_unit_test

:recycle: (BE:2fa) backend code checkによるエラー解消
  backend/pong/login/migrations/0001_initial.py
  backend/pong/login/migrations/0002_rename_is_two_factor_auth_twofactorauth_is_done_2fa.py
  backend/pong/login/test.py
  backend/pong/login/two_factor_auth.py
  backend/pong/login/views/login.py
  backend/pong/login/views/totp.py
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:zap: (BE:2fa) QRコードの生成とワンタイムパスワードを生成するコマンド作成するためのパッケージ / simplejwt削除
  backend/pong/jwt/views/refresh.py
  backend/pong/jwt/views/token.py
  backend/tools/requirements.in
  backend/tools/requirements.txt
Due: be_code_check, be_unit_test

:zap: (BE:2fa) 2要素認証のエンドポイント作成
  backend/pong/login/__init__.py
  backend/pong/login/migrations/0001_initial.py
  backend/pong/login/migrations/0002_rename_is_two_factor_auth_twofactorauth_is_done_2fa.py
  backend/pong/login/migrations/__init__.py
  backend/pong/login/models.py
  backend/pong/login/two_factor_auth.py
  backend/pong/login/urls.py
  backend/pong/login/views/__init__.py
  backend/pong/login/views/login.py
  backend/pong/login/views/totp.py
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:seedling: プロジェクト全体範囲で MIT ライセンスを追加
  LICENSE
Due: none

:fire: (FE:LICENSE) プロジェクト全体範囲のライセンスに統一
  frontend/LICENSE
Due: none

:fire:(BE) extend_schemaを使用したことで使わなくなったopenAPIのymlファイル削除
  openapi.yml
Due: none

:bug:(BE,test) testに落ちたstatusが反映されてなかったので修正
  backend/pong/Makefile
Due: be_code_check, be_unit_test

:bug:(tournament) player_dataを初期化していないので存在しないというエラーになっていたのを修正
  backend/pong/ws/tournament/handler.py
Due: be_code_check, be_unit_test

:bug:(settings) DEBUGモードではない時のみSSL_REDIRECTをTrueにしてテストが通るように
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:zap:(test) テスト結果表示のためお勧めしてくるtblib追加
  backend/tools/requirements.in
  backend/tools/requirements.txt
Due: none

:fire: 2faのtest.pyを削除
  backend/pong/login/test.py
Due: be_code_check, be_unit_test

:bug:(schema) dictという型もなかったのでobjectに修正
  backend/pong/matches/views.py
  backend/pong/tournaments/participation/views.py
  backend/pong/tournaments/tournament/views.py
Due: be_code_check, be_unit_test

:bug:(schema,jwt) valueの"code"がstringになっているのをarrayに修正
  backend/pong/jwt/views/refresh.py
  backend/pong/jwt/views/token.py
Due: be_code_check, be_unit_test

:bug:(schema,login) valueの"code"がstringになっているのをarrayに修正
  backend/pong/login/views/login.py
  backend/pong/login/views/totp.py
Due: be_code_check, be_unit_test

:bug:(schema) openapiにlistという型はなかったのでarrayに修正
  backend/pong/accounts/views.py
  backend/pong/matches/views.py
  backend/pong/tournaments/participation/views.py
  backend/pong/tournaments/tournament/views.py
  backend/pong/users/blocks/views.py
  backend/pong/users/friends/views.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Due: be_code_check, be_unit_test

:bug:(schema,accounts) "strint"が[]で囲われているのが不要なので修正
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:seedling:(docs) OpenAPIを表示するgithub pages用のindex.html追加
  docs/index.html
Due: none

:seedling:(openapi.yaml) drf-spectacularを使用してOpenAPIドキュメントを自動生成
  docs/openapi.yaml
Due: none

:fire:(openapi.yaml) 自動生成ファイルのエラーになる部分を削除
  docs/openapi.yaml
Due: none

:bug:(test,avatar) テスト時にsample.pngというファイル名を使うとplayer削除と同時に実際のsample.pngも削除されてしまうのでファイル名変更
  backend/pong/accounts/create_account/test_create_account.py
  backend/pong/accounts/player/tests/test_player_model.py
  backend/pong/accounts/player/tests/test_player_serializer.py
  backend/pong/accounts/tests/test_accounts.py
  backend/pong/matches/participation/tests/test_models.py
  backend/pong/matches/score/tests/test_models.py
  backend/pong/oauth2/tests/unit/test_create_oauth2_account.py
  backend/pong/tournaments/participation/tests/test_command_serializers.py
  backend/pong/tournaments/tournament/tests/test_command_serializers.py
  backend/pong/users/blocks/serializers/tests/test_create_serializers.py
  backend/pong/users/blocks/serializers/tests/test_destroy_serializers.py
  backend/pong/users/blocks/serializers/tests/test_list_serializers.py
  backend/pong/users/blocks/tests/integration/test_create_views.py
  backend/pong/users/blocks/tests/integration/test_destroy_views.py
  backend/pong/users/blocks/tests/integration/test_list_views.py
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
  backend/pong/users/friends/serializers/tests/test_list_serializers.py
  backend/pong/users/friends/tests/integration/test_create_views.py
  backend/pong/users/friends/tests/integration/test_destroy_views.py
  backend/pong/users/friends/tests/integration/test_list_views.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/tests/unit/test_users_serializer.py
  backend/pong/users/tests/unit/test_users_serializers_related_matches.py
  backend/pong/ws/match/tests/pytest_async_db_service.py
Due: be_code_check, be_unit_test

:seedling: media/qrsのサンプル画像をアップロード
  backend/pong/media/qrs/sample.png
Due: be_code_check, be_unit_test

:zap: 2faのmirgrationファイルを一つにまとめる
  backend/pong/login/migrations/0001_initial.py
  backend/pong/login/migrations/0002_rename_is_two_factor_auth_twofactorauth_is_done_2fa.py
  backend/pong/login/migrations/0003_remove_twofactorauth_qr_code_path.py
Due: be_code_check, be_unit_test
