Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

.gitlab/ci/backend.yml:

.be_common:
  image: python:3.13-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/backend.yml
        - backend/pong/**/*
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r backend/tools/requirements.txt

be_code_check:
  stage: code_check
  extends: .be_common
  script:
    - make -s lint -C backend/pong
    - make -s formatcheck -C backend/pong
    - make -s typecheck -C backend/pong

be_unit_test:
  stage: test:unit
  extends: .be_common
  services:
    - name: postgres:17.0-bullseye
      alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  script:
    - export $(grep -v '^#' .env.example | xargs)
    - make unit-test -C backend/pong

.gitlab/ci/frontend.yml:

.fe_common:
  image: node:22.11-alpine3.20
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/frontend.yml
        - frontend/pong/**/*

fe_code_check:
  stage: code_check
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm install --save-dev --save-exact @biomejs/biome
    - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
    - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
    - npx @biomejs/biome ci

fe_unit_test:
  stage: test:unit
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm ci
  script:
    - npm run test:unit

:zap: (matches) listとretrieveのエンドポイントをルーティング
  backend/pong/matches/urls.py
  backend/pong/matches/views.py
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:zap: (matches) listとretrieveの200のextend_schemaを作成
  backend/pong/matches/views.py
Due: be_code_check, be_unit_test

:zap:(friends,create) 存在しないユーザーをフレンドに追加しようとするとエラーになるようにvalidatorに追加
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/validators.py
Due: be_code_check, be_unit_test

:seedling:(friends,create) フレンド追加のPOSTで使うserializerの土台作成
  backend/pong/users/friends/serializers/create_serializers.py
Due: be_code_check, be_unit_test

:zap:(friends,create) フレンドに自分自身を追加しようとするとエラーになるようにvalidator追加
  backend/pong/users/friends/serializers/create_serializers.py
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/validators.py
Due: be_code_check, be_unit_test

:seedling:(friends,create) create serializerテストの土台追加
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
Due: be_code_check, be_unit_test

:zap:(friends,create) 既にフレンドであるユーザーを再度フレンドに追加しようとするとエラーになるようにvalidator追加
  backend/pong/users/friends/serializers/create_serializers.py
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/validators.py
Due: be_code_check, be_unit_test

:zap:(friends,create) 正常にフレンドに追加できることを確認するテスト追加
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
Due: be_code_check, be_unit_test

:recycle:(friends,create) devにCodeのconstantsがマージされたのでcodeにそれを使用するように変更
  backend/pong/users/constants.py
  backend/pong/users/friends/serializers/create_serializers.py
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/validators.py
Due: be_code_check, be_unit_test

:recycle:(friends,list,create) devにavatarの追加がマージされたのでavatarを使用するように変更
  backend/pong/users/friends/serializers/create_serializers.py
  backend/pong/users/friends/serializers/list_serializers.py
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/tests/test_list_serializers.py
  backend/pong/users/friends/tests/integration/test_list_views.py
Due: be_code_check, be_unit_test

:construction:ログイン画面表示時にJWT認証を行う
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/utils/cookie/Cookie.js
Due: fe_code_check, fe_unit_test

:seedling: add cookie's func
  backend/pong/pong/settings.py
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/utils/cookie/Cookie.js
Due: be_code_check, be_unit_test, fe_code_check, fe_unit_test

:seedling: サインインボターンのエントポイントアクセス処理を新規追加
  backend/pong/pong/settings.py
  frontend/Dockerfile
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/main.js
  frontend/pong/js/utils/cookie/Cookie.js
  frontend/pong/js/utils/validator/validateEmail.js
  frontend/pong/js/utils/validator/validatePassword.js
Due: be_code_check, be_unit_test, fe_code_check, fe_unit_test

add cookie in LoginContainer
  frontend/pong/js/bootstrap/components/form.js
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/main.js
  frontend/pong/js/utils/elements/form/createDefaultForm.js
Due: fe_code_check, fe_unit_test

:seedling: validateEmailとvalidatePasswordのテストコードを追加
  frontend/pong/js/utils/validator/validateEmail.js
  frontend/pong/tests/validateEmail.test.js
  frontend/pong/tests/validatePassword.test.js
Due: fe_code_check, fe_unit_test

:construction:サインインする際にe-mailとpasswordのバリデーションチェックを追加する
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/utils/validator/validateEmail.js
  frontend/pong/js/utils/validator/validatePassword.js
Due: fe_code_check, fe_unit_test

:page_facing_up:(friends,create) code=nullの場合のtodoコメント追加
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
Due: be_code_check, be_unit_test

:zap:coderabitの指摘対応
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/utils/elements/form/createDefaultForm.js
  frontend/pong/tests/validateEmail.test.js
Due: fe_code_check, fe_unit_test

:construction: formatterを整える
  frontend/pong/js/components/auth/LoginContainer.js
Due: fe_code_check, fe_unit_test

:construction: biomeテストエラーに対応した修正
  frontend/pong/js/components/auth/LoginContainer.js
Due: fe_code_check, fe_unit_test

:construction:不要なヘッダーを削除
  frontend/Dockerfile
Due: none

:fire: 不要なファイルを削除する
  frontend/pong/js/bootstrap/components/form.js
Due: fe_code_check, fe_unit_test

:zap:2回目のcoderabit指摘対応
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/main.js
  frontend/pong/js/utils/cookie/Cookie.js
Due: fe_code_check, fe_unit_test

:bug:デバッグ用な設定を解除する
  frontend/pong/js/main.js
Due: fe_code_check, fe_unit_test

:page_facing_up:(friends,create) validate()の例外のdocstringを更新
  backend/pong/users/friends/serializers/create_serializers.py
Due: be_code_check, be_unit_test

:zap:(friends,create) /api/users/me/friends/,POSTの実装の土台追加
  backend/pong/users/friends/views.py
Due: be_code_check, be_unit_test

:zap:(friends,list) GETのviewに,devにマージされたcode・avatar追加を反映
  backend/pong/users/friends/views.py
Due: be_code_check, be_unit_test

:zap:(friends,create) is_valid(),save()をトランザクションで囲い,例外の種類によってレスポンスのcodeを分けるようにする
  backend/pong/users/friends/views.py
Due: be_code_check, be_unit_test

:zap:(friends,create) ValisationErrorの場合にerrorsから自分で設定したcodeを取得してレスポンスに含めるように
  backend/pong/users/friends/views.py
Due: be_code_check, be_unit_test

:zap:(friends,create) 500時のloggerとlogger.infoコメントを追加
  backend/pong/users/friends/views.py
Due: be_code_check, be_unit_test

:zap:(friends,create) 400時のlogger追加。friend_user_idは先に取得して渡すように変更
  backend/pong/users/friends/views.py
Due: be_code_check, be_unit_test

:zap:(friends,create) POSTのviewにextend_schema追加
  backend/pong/users/friends/views.py
Due: be_code_check, be_unit_test

:zap:(friends,create) 存在しないユーザーをフレンド追加しようとした場合に400,code=not_existsを返すことを確認するテスト追加
  backend/pong/users/friends/tests/integration/test_create_views.py
Due: be_code_check, be_unit_test

:zap:(friends,create) フレンドをフレンド追加しようとした場合に400,code=invalidを返すことを確認するテスト追加
  backend/pong/users/friends/tests/integration/test_create_views.py
Due: be_code_check, be_unit_test

:zap:(friends,create) 自分自身をフレンド追加しようとした場合に400,code=internal_errorを返すことを確認するテスト追加
  backend/pong/users/friends/tests/integration/test_create_views.py
Due: be_code_check, be_unit_test

:zap:(friends,create) フレンド追加ができ201が返ることを確認するテスト追加
  backend/pong/users/friends/tests/integration/test_create_views.py
Due: be_code_check, be_unit_test

:seedling:(friends,create) フレンド追加POSTメソッドのintegration testの土台追加
  backend/pong/users/friends/tests/integration/test_create_views.py
Due: be_code_check, be_unit_test

:zap:(freidns,destroy) 正常にフレンド解除ができることを確認するテスト追加
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
Due: be_code_check, be_unit_test

:seedling:(friends,destroy) destroy serializerテストの土台追加
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
Due: be_code_check, be_unit_test

:seedling:(friends,destroy) フレンド解除のDELETEで使うserializerを作成
  backend/pong/users/friends/serializers/destroy_serializers.py
Due: be_code_check, be_unit_test
