Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

be_code_check:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: code_check
  script:
  - make -s lint -C backend/pong
  - make -s formatcheck -C backend/pong
  - make -s typecheck -C backend/pong

be_unit_test:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: test:unit
  services:
  - name: postgres:17.0-bullseye
    alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  ...

fe_code_check:
  image: node:22.11-alpine3.20
  stage: code_check
  before_script:
  - cd frontend/pong
  - npm install --save-dev --save-exact @biomejs/biome
  - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
  - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
  ...

fe_unit_test:
  image: node:22.11-alpine3.20
  stage: test:unit
  before_script:
  - cd frontend/pong
  - npm ci
  script:
  - npm run test:unit

:zap: (ws/tournament) トーナメント進行中のＤＢ操作で発生する例外をrun()でキャッチするよう変更
  backend/pong/ws/tournament/manager.py
Due: be_code_check, be_unit_test

:bug: (FE:MyInfoContainer) 重複した幅設定の修正
  frontend/pong/js/components/user/MyInfoContainer.js
Due: fe_code_check, fe_unit_test

:bug: (FE:PongEvents) 間違ったタイプ名設定を修正
  frontend/pong/js/constants/PongEvents.js
Due: fe_code_check, fe_unit_test

:bug: (FE:BlockListContainer) エラー表示のタイポ修正
  frontend/pong/js/components/block/BlockListContainer.js
Due: fe_code_check, fe_unit_test

:recycle: フロント github-action のブランチ指定の廃止
  .github/workflows/frontend_code_check.yml
  .github/workflows/frontend_unit_test.yml
Due: none

:zap:(users,test) /users/me/,PATCHで更新時に必須フィールドが1つもない場合にエラーになることを確認するテスト追加
  backend/pong/users/tests/integration/test_me.py
Due: be_code_check, be_unit_test

:recycle:(users) 更新時にdisplay_nameのフィールドの存在も見たいので最初にself.instanceを見て更新かどうか確認する
  backend/pong/users/serializers.py
Due: be_code_check, be_unit_test

:zap:(users,test) /users/me,PATCHでavatar更新時にjson形式のbodyとして送るとエラーになることを確認
  backend/pong/users/tests/integration/test_me.py
Due: be_code_check, be_unit_test

:zap:(users) 更新時はdisplay_name,avatarのどちらかがない場合エラーにする
  backend/pong/users/serializers.py
Due: be_code_check, be_unit_test

:construction: 構築中
  frontend/pong/js/components/auth/LoginContainer.js
Due: fe_code_check, fe_unit_test

:zap:(wss) websocket通信をws->wssに変更
  frontend/nginx.conf
  frontend/pong/js/constants/Endpoints.js
Due: fe_code_check, fe_unit_test

:zap: (FE:MyInfoContainer) 無効なボタンは廃止しておく
  frontend/pong/js/components/user/MyInfoContainer.js
Due: fe_code_check, fe_unit_test

:fire: (FE:MyInfoAvatar) 不要なコメント削除
  frontend/pong/js/components/user/MyInfoAvatar.js
Due: fe_code_check, fe_unit_test

:zap: (FE:MyInfoAvatar) [アップロード] -> [✏ アップロード]
  frontend/pong/js/components/user/MyInfoAvatar.js
Due: fe_code_check, fe_unit_test

:zap: (ws/tournament) tournament参加レコードの作成・削除をTournamentManagerで実行
  backend/pong/ws/tournament/manager.py
Due: be_code_check, be_unit_test

:zap: (ws/tournament) TournamentHandlerのhandle()関数にログイン情報であるuser_idを渡すよう変更
  backend/pong/ws/tournament/handler.py
Due: be_code_check, be_unit_test

:zap: (ws/tournament) LEAVEメッセージのハンドラ関数を作成
  backend/pong/ws/tournament/handler.py
Due: be_code_check, be_unit_test

:zap: (ws/share/channel_handler) グループ追加・削除をする関数でchannel_nameを指定できるように変更
  backend/pong/ws/share/channel_handler.py
Due: be_code_check, be_unit_test

:zap: (ws/tournament) JOIN メッセージの結果を返す関数とPlayerDataを作成する関数を作成
  backend/pong/ws/tournament/handler.py
Due: be_code_check, be_unit_test

:zap: (ws/tournament) JOIN メッセージに対するハンドラ関数を実装
  backend/pong/ws/tournament/handler.py
Due: be_code_check, be_unit_test

:zap: (ws/tournament) consumerにトーナメントハンドラを適用。その際TornamentManagerRegistryを渡す
  backend/pong/ws/consumers.py
Due: be_code_check, be_unit_test

:bug: (ws/tournament) participation_nameの型をint -> strに修正
  backend/pong/ws/share/player_data.py
Due: be_code_check, be_unit_test

:zap: (ws/tournament) TournamentManagerで参加者の入退出時にグループへの参加と削除を行うTODOを実装
  backend/pong/ws/tournament/manager.py
Due: be_code_check, be_unit_test

:zap: (FE:NotFoundView) デフォルト文言の配置
  frontend/pong/js/components/views/NotFoundView.js
Due: fe_code_check, fe_unit_test

:construction: 構築中
  frontend/pong/js/components/auth/SignUpContainer.js
Due: fe_code_check, fe_unit_test

:zap: (FE:Endpoints) env よりポートが決まるように拡張
  compose.yaml
  frontend/Dockerfile
  frontend/pong/js/constants/Endpoints.js
Due: fe_code_check, fe_unit_test

:recycle: ログイン画面のリダイレクト、エラーメッセージ修正
  frontend/pong/js/components/auth/SignUpContainer.js
Due: fe_code_check, fe_unit_test

:page_facing_up:(.env.example) 提出用にDEBUGのデフォルトをFalseに
  .env.example
Due: none

:zap:(.env.example) PONG_ORIGINは公開しないので.envからBE内部に移動
  .env.example
  .github/workflows/backend_code_check.yml
  .github/workflows/backend_test.yml
  backend/pong/oauth2/views.py
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:fire:(accounts) 対応済みtodoコメント削除
  backend/pong/accounts/player/models.py
  backend/pong/accounts/player/serializers.py
Due: be_code_check, be_unit_test

:page_facing_up:(.env.example) 提出用に公開用ポート番号の例をhttpsの443に
  .env.example
Due: none

:bug: (ws/consumer) 必須で実装数必要のあるconsumerのwebsocket_sendを実装
  backend/pong/ws/consumers.py
Due: be_code_check, be_unit_test

:recycle: (ws/match) MatchManagerRegistryの関数名 を修正
  backend/pong/ws/match/manager_registry.py
Due: be_code_check, be_unit_test

:zap: (ws/match) MatchHandler のローカルプレイの部分を実装
  backend/pong/ws/match/handler.py
Due: be_code_check, be_unit_test

:fire: (ws/match) PongLogicやMatchManagerに処理を移譲したことで不要になったMatchHandlerのコードを削除
  backend/pong/ws/match/handler.py
Due: be_code_check, be_unit_test

:zap: (ws/match) MatchHandlerがchannel_layerを持つ必要がなくなり、ログイン情報であるuser_idを持つことになったので、consumer側のコードも修正
  backend/pong/ws/consumers.py
Due: be_code_check, be_unit_test

:zap: (ws/match) playerが途中退出したときに呼ぶ関数の引数をPlayerDataに変更
  backend/pong/ws/match/manager_registry.py
  backend/pong/ws/match/match_manager.py
Due: be_code_check, be_unit_test

:zap: (ws/match) グローバルなMatchManagerRegistryインスタンスをmanager_registryモジュールで作成
  backend/pong/ws/match/manager_registry.py
Due: be_code_check, be_unit_test

:zap: (ws/match) リモートマッチ用の処理をMatchHandlerに実装
  backend/pong/ws/match/handler.py
Due: be_code_check, be_unit_test

:zap: (ws/match) メッセージルールの変更に伴い定数を追加
  backend/pong/ws/match/constants.py
Due: be_code_check, be_unit_test

Path conditions:
  be_code_check: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  be_unit_test: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  fe_code_check: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
  fe_unit_test: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
