Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

be_code_check:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: code_check
  script:
  - make -s lint -C backend/pong
  - make -s formatcheck -C backend/pong
  - make -s typecheck -C backend/pong

be_unit_test:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: test:unit
  services:
  - name: postgres:17.0-bullseye
    alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  ...

fe_code_check:
  image: node:22.11-alpine3.20
  stage: code_check
  before_script:
  - cd frontend/pong
  - npm install --save-dev --save-exact @biomejs/biome
  - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
  - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
  ...

fe_unit_test:
  image: node:22.11-alpine3.20
  stage: test:unit
  before_script:
  - cd frontend/pong
  - npm ci
  script:
  - npm run test:unit

:seedling: (FE:api) ページネーション対応の fetch ラッパーを追加
  frontend/pong/js/api/utils/fetchAuthenticatedAllData.js
Due: fe_code_check, fe_unit_test

:zap: (FE:api) ページネーション付きに更新
  frontend/pong/js/api/participations/getParticipations.js
  frontend/pong/js/api/users/getBlocks.js
  frontend/pong/js/api/users/getFriends.js
  frontend/pong/js/api/users/getUsers.js
Due: fe_code_check, fe_unit_test

:zap: (FE:websocket) STATUS カテゴリルールの対応
  frontend/pong/js/enums/WebSocketEnums.js
  frontend/pong/js/utils/hasNumericKey.js
  frontend/pong/js/utils/user/deleteStatus.js
  frontend/pong/js/utils/user/requestStatus.js
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:mocks) WebSocket ログインモックの作成
  frontend/pong/js/mocks/handlers/webSocket.js
  frontend/pong/js/mocks/utils/websocket/loginPayloadHandler.js
  frontend/pong/js/mocks/utils/websocket/sendPayloads.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:status) webSocket と連携し、ユーザーステータスの管理
  frontend/pong/js/enums/WebSocketEnums.js
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:zap: (FE:friend) フレンド表示時にオンラインステータス追加
  frontend/pong/js/api/users/convertFriendData.js
  frontend/pong/js/utils/elements/div/createNameplate.js
  frontend/pong/js/utils/user/formatUserInfo.js
Due: fe_code_check, fe_unit_test

:zap: (FE:websocket) 切断時にサインアウトと連携
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:zap: (FE:Bootstrap) position relative や visually-hidden 追加
  frontend/pong/js/bootstrap/utilities/helpers.js
  frontend/pong/js/bootstrap/utilities/position.js
Due: fe_code_check, fe_unit_test

:zap: (FE:api) フレンド関連 api でオンラインステータスも連携
  frontend/pong/js/api/users/deleteFriends.js
  frontend/pong/js/api/users/getFriends.js
  frontend/pong/js/api/users/postFriends.js
Due: fe_code_check, fe_unit_test

:bug: (FE:WebSocketWrapper) ステータスデータの形式を統一
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:zap: (FE:friend) フレンド表示がステータスの変化とともに変わるように設定
  frontend/pong/js/components/user/UserListContainer.js
  frontend/pong/js/components/views/FriendsView.js
Due: fe_code_check, fe_unit_test

:bug: (FE:getFriends) フォーマッタールール: import 順序
  frontend/pong/js/api/users/getFriends.js
Due: fe_code_check, fe_unit_test

:construction:構築中
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/components/index.js
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/utils/cookie/Cookie.js
Due: fe_code_check, fe_unit_test

:fire: (FE:WebSocketWrapper) 使用しない onOpen を削除
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:loginPayloadHandler) 形式的なモックなため、簡単なものに変更
  frontend/pong/js/mocks/utils/websocket/loginPayloadHandler.js
Due: fe_code_check, fe_unit_test

:bug:ログアウトできない動作の修正
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/utils/cookie/Cookie.js
Due: fe_code_check, fe_unit_test

:recycle:フォーマータ適応
  frontend/pong/js/utils/cookie/Cookie.js
Due: fe_code_check, fe_unit_test

:bug: (ws/match) メッセージの型で例外が発生してしまっていたので修正
  backend/pong/ws/match/handler.py
Due: be_code_check, be_unit_test

:zap: (ws/match) readyメッセージを同時にプレーヤーに送るよう変更
  backend/pong/ws/match/match_manager.py
Due: be_code_check, be_unit_test

:zap: (ws/match) メッセージ形式が間違っていたので修正
  backend/pong/ws/match/match_manager.py
Due: be_code_check, be_unit_test

:bug: (ws/match) game stateを送れていなかったので修正
  backend/pong/ws/match/match_manager.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) 独自の例外処理定義
  backend/pong/jwt/exceptions.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) JWTの有効期限が切れてるかどうかを判定する関数作成
  backend/pong/jwt/jws.py
  backend/pong/jwt/tests/unit/test_jws.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) subの値をintからstr型に変更し、usernameを適応
  backend/pong/jwt/create_token_functions.py
  backend/pong/jwt/tests/unit/test_authentication.py
  backend/pong/jwt/tests/unit/test_jwt.py
  backend/pong/jwt/views/token.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) validate_payloadをパブリックにし、subの検証がusernameの仕様に依存していいたため一部削除
  backend/pong/jwt/jwt_validator.py
  backend/pong/jwt/tests/unit/test_jwt_validator.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) JWT認証クラスとdecode関数payloadの検証とexpの有効期限の検証をに適応
  backend/pong/jwt/authentication.py
  backend/pong/jwt/jwt.py
Due: be_code_check, be_unit_test

:bug: (ws/match) end messageが送信できていなかったので修正
  backend/pong/ws/match/match_manager.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) コンフリクト解消時に出たエラーを修正
  backend/pong/jwt/tests/integrations/test_refresh.py
  backend/pong/jwt/tests/unit/test_create_token_functions.py
  backend/pong/jwt/views/refresh.py
Due: be_code_check, be_unit_test

:page_facing_up:(compose.yaml) beckendコンテナを外部に公開しないように
  compose.yaml
Due: none

:zap: (ws/match) MatchManagerでMatchの状態を更新
  backend/pong/ws/match/match_manager.py
Due: be_code_check, be_unit_test

:zap: (ws/match) MatchManagerで試合に勝利したプレーヤーのレコードを更新
  backend/pong/ws/match/match_manager.py
Due: be_code_check, be_unit_test

:zap: (ws/match) MatchManagerでスコアレコード作成を並列で実行するように実装
  backend/pong/ws/match/match_manager.py
Due: be_code_check, be_unit_test

:recycle: (BE:jwt) payloadの検証によるtest_jwtの単体テストを一時的にスキップする理由を追加
  backend/pong/jwt/tests/unit/test_jwt.py
Due: be_code_check, be_unit_test

:zap: (redis) .envでポートを変更すると動かない設定になっていたので修正
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:zap: (env) frontend portが443だとpermissionが通らなかったので8080に戻す
  .env.example
Due: none

:zap: (nginx.conf) Nginxがリクエストサイズを制限してしまっていたので１０Mまでリクエストボディサイズを拡大
  frontend/nginx.conf
Due: none

:zap: (backend/Dockerfile) User pongをコメントアウト
  backend/Dockerfile
Due: none

:bug: (ws/async_redis_client) portの指定に環境変数を使ったままだったので修正
  backend/pong/ws/share/async_redis_client.py
Due: be_code_check, be_unit_test

:zap: (FE:UserProfile) 簡単な勝敗の表示を追加
  frontend/pong/js/components/user/UserProfile.js
Due: fe_code_check, fe_unit_test

:bug: (ws/tournament) メッセージ形式のバグとログ追加
  backend/pong/ws/tournament/handler.py
Due: be_code_check, be_unit_test

Path conditions:
  be_code_check: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  be_unit_test: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  fe_code_check: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
  fe_unit_test: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
