Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

be_code_check:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: code_check
  script:
  - make -s lint -C backend/pong
  - make -s formatcheck -C backend/pong
  - make -s typecheck -C backend/pong

be_unit_test:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: test:unit
  services:
  - name: postgres:17.0-bullseye
    alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  ...

fe_code_check:
  image: node:22.11-alpine3.20
  stage: code_check
  before_script:
  - cd frontend/pong
  - npm install --save-dev --save-exact @biomejs/biome
  - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
  - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
  ...

fe_unit_test:
  image: node:22.11-alpine3.20
  stage: test:unit
  before_script:
  - cd frontend/pong
  - npm ci
  script:
  - npm run test:unit

:zap: swagger-uiでLoginエンドポイントを使用できるようにした
  backend/pong/login/serializers.py
  backend/pong/login/views/login.py
  backend/pong/login/views/totp.py
Due: be_code_check, be_unit_test

:zap: swagger-uiでtokenのエンドポイントを呼ぶために必要な引数を渡せるようにした
  backend/pong/jwt/serializers.py
  backend/pong/jwt/views/refresh.py
  backend/pong/jwt/views/token.py
Due: be_code_check, be_unit_test

:zap: totpは空文字のためif notにへんこう
  backend/pong/login/views/totp.py
Due: be_code_check, be_unit_test

:zap:(README) 概要,Requires,Usage,Mock,使用技術,仕様についてを追加
  README.md
Due: none

:zap:(README) swagger-uiの見た目でAPIをgithub pagesに公開したのでそのリンクも追加
  README.md
Due: none

:zap:(README) mermaidで書かれたクラス設計図,ER図のwikiへのリンク追加
  README.md
Due: none

:recycle: (FE:nginx) 使用するイメージのデフォルト公開ポート 8080 を使用
  compose.yaml
  frontend/nginx.conf
Due: none

:recycle: (settings) 入口のポートを https デフォルトのものに移行
  .env.example
  README.md
  frontend/pong/js/constants/Endpoints.js
Due: fe_code_check, fe_unit_test

:zap: (settings) 複数 compose ファイルを用意して使い分け
  compose.override.yaml
  compose.prod.yaml
  compose.yaml
Due: none

:recycle: (BE:settings) SSL_REDIRECT を DEBUG 値に応じて設定
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:zap: (Makefile) デフォルトで本番用のコマンドにし、開発用のコマンドを追加
  Makefile
Due: none

:fire: (settings) 本番の compose 設定の中の不要な項目を削除
  compose.prod.yaml
Due: none

:fire: (settings) ベース compose ファイルから ports 指定を削除
  compose.yaml
Due: none

:recycle: (FE:nginx) コンテナ内部の使用ポートを 8080 から 8443 に変更
  compose.override.yaml
  compose.prod.yaml
  compose.yaml
  frontend/nginx.conf
Due: none

Path conditions:
  be_code_check: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  be_unit_test: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  fe_code_check: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
  fe_unit_test: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
