Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

.gitlab/ci/backend.yml:

.be_common:
  image: python:3.13-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/backend.yml
        - backend/pong/**/*
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r backend/tools/requirements.txt

be_code_check:
  stage: code_check
  extends: .be_common
  script:
    - make -s lint -C backend/pong
    - make -s formatcheck -C backend/pong
    - make -s typecheck -C backend/pong

be_unit_test:
  stage: test:unit
  extends: .be_common
  services:
    - name: postgres:17.0-bullseye
      alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  script:
    - export $(grep -v '^#' .env.example | xargs)
    - make unit-test -C backend/pong

.gitlab/ci/frontend.yml:

.fe_common:
  image: node:22.11-alpine3.20
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/frontend.yml
        - frontend/pong/**/*

fe_code_check:
  stage: code_check
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm install --save-dev --save-exact @biomejs/biome
    - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
    - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
    - npx @biomejs/biome ci

fe_unit_test:
  stage: test:unit
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm ci
  script:
    - npm run test:unit

:zap: UserSerializer 空文字許容する
  backend/pong/oauth2/serializers.py
  backend/pong/oauth2/views.py
Due: be_code_check, be_unit_test

:zap: マイグレーションファイルを一つにまとめる
  backend/pong/oauth2/migrations/0001_initial.py
  backend/pong/oauth2/migrations/0002_rename_user_fortytwotoken_oauth2.py
Due: be_code_check, be_unit_test

:recycle: formatの適用とレスポンスの各テーブルのデータを見やすくした
  backend/pong/oauth2/migrations/0001_initial.py
  backend/pong/oauth2/views.py
Due: be_code_check, be_unit_test

:zap:(env) 環境変数が設定されていないor空文字列の場合に例外を発生させBEコンテナをunhealthyにする
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:zap:(env) 以前までのenv()取得をやめ、取得した環境変数をそのまま使用する
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:zap:(env/workflow) actionsでmypyが環境変数をエラー判定するのを防ぐ設定追加
  .github/workflows/backend_code_check.yml
Due: none

:page_facing_up:(env) 環境変数に関する作業に漏れが起こりそうだったためコメント追加
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:zap:(env/workflow) 今までdefault値で動いていたunit-testのworkflowsにも必要な環境変数追加
  .github/workflows/backend_unit_test.yml
Due: none

:zap: 各シリアライザーのvalidate関数作成
  backend/pong/oauth2/serializers.py
Due: be_code_check, be_unit_test

:seedling: (FE:ws) クラス WebSocketWrapper を追加
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:ws) グローバル WebSocket を導入
  frontend/pong/js/websocket/index.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:main.js) import の書き方を統一
  frontend/pong/js/main.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:ws) グローバル WebSocket を main に追加
  frontend/pong/js/main.js
Due: fe_code_check, fe_unit_test

:zap: (FE:ws) WebSocket ステータスを表示
  frontend/pong/js/components/views/HomeView.js
Due: fe_code_check, fe_unit_test

:seedling: (BE:oauth2) oauth2/serializer.pyにあるシリアライザーのクラスの単体テストの基盤作成
  backend/pong/oauth2/tests.py
  backend/pong/oauth2/tests/__init__.py
  backend/pong/oauth2/tests/unit/__init__.py
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2)UserSerializerが正しく機能するかを確認するテスト作成
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2) UserSerializer必須フィールドが存在しないデータを渡した場合、シリアライザが期待通りにエラーを返すかを確認するテスト
  backend/pong/oauth2/serializers.py
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2) 空のデータとNoneの場合、UserSerialzierが期待通りにエラーを返すかを確認するテスト
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:recycle: docstirngのコメント修正
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2) 正しいデータの場合、OAuth2Serializerが正しく機能するかを確認するテスト
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2) OAuth2Serializer provider_idが一意であるかどうかを確認するテスト作成
  backend/pong/oauth2/serializers.py
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2) 空のデータとNoneの場合、OAuth2Serialzierが期待通りにエラーを返すかを確認するテスト
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2) oauth2Serializer必須フィールドが存在しないデータを渡した場合、 期待通りにエラーを返すかを確認するテスト
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2) FortyTwoTokenSerializerのInvalid関数作成
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2) 正しいデータの場合、FortyTwoTokenSerializerが正しく機能するかを確認するテスト
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:recycle: (websocket/match) 変数名playerからpaddleに統一
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:recycle: (websocket/match) websocketのメッセージに使う文字列をEnumに定義
  backend/pong/match/match_enums.py
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:recycle: (websocket) websocketで共通のJsonSchemaの値を定数で定義
  backend/pong/match/consumers.py
  backend/pong/match/match_handler.py
  backend/pong/match/ws_constants.py
Due: be_code_check, be_unit_test

:zap: (websocket/match) ENDステージの処理を変更
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:bug: (websocket/match) websocket切断時にチャネルグループから抜けるエラー処理を追加
  backend/pong/match/consumers.py
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap: (websocket/match) ボールを四角形として扱うよう変更
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap:(accounts) UserModelのusernameに使うユニークかつランダムな文字列生成関数追加
  backend/pong/accounts/create_account.py
Due: be_code_check, be_unit_test

:recycle: (websocket/match) enumの共通処理を基底クラスに集約
  backend/pong/match/match_enums.py
Due: be_code_check, be_unit_test

:recycle: (websocket/match) Enumの定数名を大文字で統一し、存在しないEnumの項目を削除
  backend/pong/match/match_enums.py
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap: (BE:entrypoint.sh) makemigrationsコマンド追加
  backend/tools/entrypoint.sh
Due: none

:recycle: errorsのパラメータをテストの部分をリファクタリング
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:recycle: format, lint, typecheck適用
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap:(create_account,test) 申し訳程度ですがrandom文字列生成関数のユニットテスト追加
  backend/pong/accounts/tests/create_account/test_create_account.py
Due: be_code_check, be_unit_test

:recycle: セルフレビュー
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2) bearer, mac以外のトークンタイプの場合のテスト作成
  backend/pong/oauth2/serializers.py
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test
