Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

.gitlab/ci/backend.yml:

.be_common:
  image: python:3.13-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/backend.yml
        - backend/pong/**/*
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r backend/tools/requirements.txt

be_code_check:
  stage: code_check
  extends: .be_common
  script:
    - make -s lint -C backend/pong
    - make -s formatcheck -C backend/pong
    - make -s typecheck -C backend/pong

be_unit_test:
  stage: test:unit
  extends: .be_common
  services:
    - name: postgres:17.0-bullseye
      alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  script:
    - export $(grep -v '^#' .env.example | xargs)
    - make unit-test -C backend/pong

.gitlab/ci/frontend.yml:

.fe_common:
  image: node:22.11-alpine3.20
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/frontend.yml
        - frontend/pong/**/*

fe_code_check:
  stage: code_check
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm install --save-dev --save-exact @biomejs/biome
    - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
    - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
    - npx @biomejs/biome ci

fe_unit_test:
  stage: test:unit
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm ci
  script:
    - npm run test:unit

:construction: (requirements.in, .txt) requests_oauthlibを追加
  backend/tools/requirements.in
  backend/tools/requirements.txt
Due: none

:construction: (example.env) OAuth2.0を使ってユーザーのクレデンシャル情報を取得するための環境変数を設定
  .env.example
Due: none

:wastebasket: SECRET_KEYのコメント削除
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:construction: (setting.py) OAuth2.0を利用するための環境変数を適用
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

(wip) updated the structure
  frontend/pong/js/components/index.js
  frontend/pong/js/components/page/HomePage.js
  frontend/pong/js/components/view/HomeView.js
  frontend/pong/js/components/view/SignoutView.js
  frontend/pong/js/core/App.js
  frontend/pong/js/core/Component.js
  frontend/pong/js/core/Router.js
  frontend/pong/js/core/View.js
  frontend/pong/js/main.js
Due: fe_code_check, fe_unit_test

:zap:(requirements) セキュリティ的にDjangoのversionを上げた方が良さそうだったので上げた。from GitHub dependabot
  backend/tools/requirements.in
  backend/tools/requirements.txt
Due: none

:recycle:(mypy) tomlファイルのみで完結できたため,iniファイルを削除して設定を移動
  backend/pong/mypy.ini
  backend/pong/pyproject.toml
Due: be_code_check, be_unit_test

:seedling: (FE) 基盤クラス Component を追加
  frontend/pong/js/core/Component.js
Due: fe_code_check, fe_unit_test

:seedling: (FE) 基盤クラス View を追加
  frontend/pong/js/core/View.js
Due: fe_code_check, fe_unit_test

:seedling: (FE) クラス Route, Router を追加
  frontend/pong/js/core/Route.js
  frontend/pong/js/core/Router.js
Due: fe_code_check, fe_unit_test

:zap: (FE) SPA の index.html に移行
  frontend/pong/index.html
  frontend/pong/js/main.js
  frontend/pong/js/routers/homeRouter.js
Due: fe_code_check, fe_unit_test

:seedling: (FE) 初めてのビュー HomeView を追加
  frontend/pong/js/components/index.js
  frontend/pong/js/components/view/HomeView.js
Due: fe_code_check, fe_unit_test

:zap: (FE:formatter) 一行の長さを 70 に設定
  frontend/pong/biome.json
Due: fe_code_check, fe_unit_test

(sample) いくつかのビュー、カスタムイベント
  frontend/pong/js/components/index.js
  frontend/pong/js/components/view/ChatView.js
  frontend/pong/js/components/view/HomeView.js
  frontend/pong/js/components/view/SignoutView.js
  frontend/pong/js/main.js
  frontend/pong/js/routers/homeRouter.js
Due: fe_code_check, fe_unit_test

:recycle: (FE) ディレクトリ名を変更: view -> views
  frontend/pong/js/components/views/HomeView.js
Due: fe_code_check, fe_unit_test

:bug: import のパス変更: view -> views
  frontend/pong/js/components/index.js
  frontend/pong/js/routers/homeRouter.js
Due: fe_code_check, fe_unit_test

:seedling:(accounts) アカウント関連の実装を始めるため,新規app(accounts)をDjangoにより自動生成
  backend/pong/accounts/__init__.py
  backend/pong/accounts/admin.py
  backend/pong/accounts/apps.py
  backend/pong/accounts/migrations/__init__.py
  backend/pong/accounts/models.py
  backend/pong/accounts/tests.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:zap:(Makfile) migrationコマンドを楽に実行するためのルールを追加
  backend/pong/Makefile
Due: be_code_check, be_unit_test

:zap:(accounts,models) Userモデルと1対1リレーションを貼ったPlayerモデルを新規作成
  backend/pong/accounts/models.py
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:seedling:(accounts) PlayerモデルをmigrateしたらDjangoによって自動生成されたファイルを追加
  backend/pong/accounts/migrations/0001_initial.py
Due: be_code_check, be_unit_test

:seedling:(accounts,urls) POSTでapi/accounts/にリクエストを送ったら一旦200 OKを返すベース追加
  backend/pong/accounts/urls.py
  backend/pong/accounts/views.py
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:zap:(accounts,schema) swagger-uiでの表示を変えるため,スキーマをviewsに定義
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:zap:(accounts,admin) Django adminサイトでplayersテーブルを見れるように簡単に設定追加
  backend/pong/accounts/admin.py
Due: be_code_check, be_unit_test

:seedling:(accounts,serializer) Userモデルのserializerのベース作成と,これを使ってuserをDBに新規追加
  backend/pong/accounts/serializers.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:zap:(accounts,serializer) Playerモデルのserializerのベースも作成し,Player->Userの順で作成してDBに保存
  backend/pong/accounts/serializers.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:zap:(accounts,serializer) Userを作る際の3つの値が空の場合にエラーにする
  backend/pong/accounts/serializers.py
Due: be_code_check, be_unit_test

:seedling:(accounts,constants) field名を定数として定義して使用(dataclassを使ってみた)
  backend/pong/accounts/admin.py
  backend/pong/accounts/constants.py
  backend/pong/accounts/models.py
  backend/pong/accounts/serializers.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:recycle:(jwt) importをしなくてもincludeだけで良かったため削除
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:recycle:(swagger-ui) swagger-ui専用のimportをしなくてもincludeで統一できるので変更
  backend/pong/pong/urls.py
  backend/pong/swagger_ui/__init__.py
  backend/pong/swagger_ui/urls.py
Due: be_code_check, be_unit_test

:recycle:(settings) swagger-uiのためだけの設定ではなくなっていたのでコメント修正
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:recycle:(accounts,serializer) メタクラスは無理に型ヒントを書かないよう変更
  backend/pong/accounts/serializers.py
Due: be_code_check, be_unit_test

:construction: oauth_callback関数内でトークンを取得する
  backend/pong/oauth/views.py
Due: be_code_check, be_unit_test

:zap: トークンを取得するエンドポイント作成（/api/oauth/token）
  backend/pong/oauth/urls.py
  backend/pong/oauth/views.py
Due: be_code_check, be_unit_test

:zap: OAuth2Session関数を使用せずにauthorizeのエンドポイントを作成する
  backend/pong/oauth/views.py
Due: be_code_check, be_unit_test

:zap: oatuh_authorizeの仕様書追加
  backend/pong/oauth/views.py
Due: be_code_check, be_unit_test

:zap: 認可サーバーからのレスポンスを受け取るエンドポイント（/api/oauth/callback）作成
  backend/pong/oauth/urls.py
  backend/pong/oauth/views.py
Due: be_code_check, be_unit_test

:zap: 認可エンドポイント（/api/oauth/authorize）作成
  backend/pong/oauth/__init__.py
  backend/pong/oauth/urls.py
  backend/pong/oauth/views.py
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:zap: 環境変数の設定
  .env.example
  backend/pong/oauth/views.py
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:white_check_mark: format, lint, typecheck, formatcheckを通した
  backend/pong/oauth/urls.py
  backend/pong/oauth/views.py
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:bug: oauthのエンドポイントのnameを適切な名前に変更
  backend/pong/oauth/urls.py
Due: be_code_check, be_unit_test
