Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

.gitlab/ci/backend.yml:

.be_common:
  image: python:3.13-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/backend.yml
        - backend/pong/**/*
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r backend/tools/requirements.txt

be_code_check:
  stage: code_check
  extends: .be_common
  script:
    - make -s lint -C backend/pong
    - make -s formatcheck -C backend/pong
    - make -s typecheck -C backend/pong

be_unit_test:
  stage: test:unit
  extends: .be_common
  services:
    - name: postgres:17.0-bullseye
      alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  script:
    - export $(grep -v '^#' .env.example | xargs)
    - make unit-test -C backend/pong

.gitlab/ci/frontend.yml:

.fe_common:
  image: node:22.11-alpine3.20
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/frontend.yml
        - frontend/pong/**/*

fe_code_check:
  stage: code_check
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm install --save-dev --save-exact @biomejs/biome
    - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
    - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
    - npx @biomejs/biome ci

fe_unit_test:
  stage: test:unit
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm ci
  script:
    - npm run test:unit

:seedling:(accounts,unit) PlayerSerializerのシンプルな正常ケースのテスト追加
  backend/pong/accounts/tests/serializers/test_player_serializer.py
Due: be_code_check, be_unit_test

:recycle:(name) アカウントの何をするエンドポイントなのかも表すnameに変更
  backend/pong/accounts/urls.py
Due: be_code_check, be_unit_test

:zap:(namespace) URLの逆引きをする際にnameが重複していても名前空間(app_name)を指定して区別できるように追加
  backend/pong/accounts/urls.py
  backend/pong/jwt_token/urls.py
Due: be_code_check, be_unit_test

:recycle:(name) 一般的にpythonは変数・識別子としてハイフンよりアンスコが使われていそうなので変更
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:zap:(workflows) job実行の最長時間のdefaultが360分と長過ぎるので短く設定
  .github/workflows/backend_code_check.yml
  .github/workflows/backend_unit_test.yml
  .github/workflows/discord_PR_review.yml
  .github/workflows/discord_discussion.yml
  .github/workflows/frontend_code_check.yml
  .github/workflows/frontend_unit_test.yml
Due: none

:recycle:(Makefile) コンテナ名はcompose.yaml依存だったので使わずにcomposeコマンドに変更
  Makefile
Due: none

:recycle:(Makefile) 他のcomposeコマンドと合わせてyamlファイルを指定してexecするように修正
  Makefile
Due: none

:recycle:(Makefile) up,down,start,stopもyamlファイル指定で統一。ミスを減らすため変数を使用して共通化
  Makefile
Due: none

:recycle:(workflows) BEコンテナがhealthyでなくても起動されていたので待機するoptionを追加
  .github/workflows/backend_unit_test.yml
Due: none

:recycle:(workflows) 1行だと不要な`|`を削除
  .github/workflows/backend_unit_test.yml
Due: none

:recycle:(workflow) DBコンテナも同様にoptionで代替できたので起動待機方法を変更
  .github/workflows/backend_unit_test.yml
Due: none

:zap:(workflows) エラーなどでもしまだコンテナが起動中の場合はdebug用にlogsを出力する
  .github/workflows/backend_unit_test.yml
Due: none

:recycle:(compose.yaml) intervalが長くてactionsで最低10秒healthcheckを待っていたので,合計の秒数は変えずに微調整
  compose.yaml
Due: none

テスト: /login-test
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/components/views/LoginView.js
  frontend/pong/js/main.js
  frontend/pong/js/routers/homeRouter.js
Due: fe_code_check, fe_unit_test

:zap: (websocket) django channelsで必要なパッケージを追加
  backend/tools/requirements.in
  backend/tools/requirements.txt
Due: none

:zap: (websocket) django channels用の設定を追加
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:zap: (websocket) game用にpython manage.py startappでディレクトリを追加し、設定に追加
  backend/pong/game/__init__.py
  backend/pong/game/admin.py
  backend/pong/game/apps.py
  backend/pong/game/models.py
  backend/pong/game/tests.py
  backend/pong/game/views.py
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:zap: (websocket) asgi.pyでプロトコルごとにルーティングを設定し、websocket用ににroutingを追加
  backend/pong/game/routing.py
  backend/pong/pong/asgi.py
Due: be_code_check, be_unit_test

:recycle: (websocket) gameからmatchへrename
  backend/pong/match/__init__.py
  backend/pong/match/admin.py
  backend/pong/match/apps.py
  backend/pong/match/migrations/__init__.py
  backend/pong/match/models.py
  backend/pong/match/routing.py
  backend/pong/match/tests.py
  backend/pong/match/views.py
  backend/pong/pong/asgi.py
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:zap: (websocket) websocket接続のためのエンドポイント作成
  backend/pong/match/consumers.py
  backend/pong/match/routing.py
Due: be_code_check, be_unit_test

:zap: (websocket) consumerを実装
  backend/pong/match/consumers.py
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap: (websocekt) pongのロジック部分を実装
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap: (websocket) matchイベントをハンドルする流れを設計
  backend/pong/match/consumers.py
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap: (websocket) channels layerを利用したグループ単位の操作をハンドラクラスに追加
  backend/pong/match/consumers.py
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap: (websocket) MatchHandlerのハンドラメソッドを実装
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:recycle: 自動フォーマット
  backend/pong/match/apps.py
  backend/pong/match/consumers.py
  backend/pong/match/match_handler.py
  backend/pong/pong/asgi.py
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:recycle: 未使用インポート・変数を削除及びコメントアウト
  backend/pong/match/admin.py
  backend/pong/match/match_handler.py
  backend/pong/match/models.py
  backend/pong/match/tests.py
  backend/pong/match/views.py
  backend/pong/pong/asgi.py
Due: be_code_check, be_unit_test

:zap: ポートまでの部分はオリジンのため、環境変数名をPONG_ORIGINに変更
  .env.example
  backend/pong/oauth2/views.py
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:recycle: 型ヒントを追加
  backend/pong/match/consumers.py
  backend/pong/match/match_handler.py
  backend/pong/pyproject.toml
Due: be_code_check, be_unit_test

:zap: ゲーム更新をする非同期タスク周りの処理をリファクタリング
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:bug: .rstrip関数削除 / 42APIをCALLBACKのエンドポイントの末尾にを設定したため
  backend/pong/oauth2/views.py
Due: be_code_check, be_unit_test

:zap: (websocket) ゲーム更新をする非同期タスク周りの処理をリファクタリング
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap: (websocket) 誤って2回タスクを実行しないよう修正
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap: (websocket) クラス内定数をFinal型にする
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap: (websocket) __str__()と__repr__()を追加
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:recycle: (websocekt) docstringを追加
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:recycle: 自動フォーマット
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:refactor: エンドポイントの定義をdecoreator関数からクラスに変更
  backend/pong/oauth2/urls.py
  backend/pong/oauth2/views.py
Due: be_code_check, be_unit_test

:refactor: RFDのstatusでステータスコードを定義とresponseのステータスコードを返すようにした
  backend/pong/oauth2/views.py
Due: be_code_check, be_unit_test

:recycle: OAuth2BaseView作成 / OAuth2関連の共通の変数を定義するため
  backend/pong/oauth2/views.py
Due: be_code_check, be_unit_test
