Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

.gitlab/ci/backend.yml:

.be_common:
  image: python:3.13-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/backend.yml
        - backend/pong/**/*
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r backend/tools/requirements.txt

be_code_check:
  stage: code_check
  extends: .be_common
  script:
    - make -s lint -C backend/pong
    - make -s formatcheck -C backend/pong
    - make -s typecheck -C backend/pong

be_unit_test:
  stage: test:unit
  extends: .be_common
  services:
    - name: postgres:17.0-bullseye
      alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  script:
    - export $(grep -v '^#' .env.example | xargs)
    - make unit-test -C backend/pong

.gitlab/ci/frontend.yml:

.fe_common:
  image: node:22.11-alpine3.20
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/frontend.yml
        - frontend/pong/**/*

fe_code_check:
  stage: code_check
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm install --save-dev --save-exact @biomejs/biome
    - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
    - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
    - npx @biomejs/biome ci

fe_unit_test:
  stage: test:unit
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm ci
  script:
    - npm run test:unit

:zap:(freidns,destroy) 自分自身をフレンド解除しようとした場合にエラーになるようにvalidate()のオーバーライド
  backend/pong/users/friends/serializers/destroy_serializers.py
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
Due: be_code_check, be_unit_test

:zap:(freidns,destroy) フレンドではないユーザーをフレンド解除しようとした場合にエラーにする
  backend/pong/users/friends/serializers/destroy_serializers.py
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
Due: be_code_check, be_unit_test

:zap:(freidns,destroy) 存在しないユーザーをフレンド解除しようとした場合にエラーになることを確認するテスト追加
  backend/pong/users/friends/serializers/destroy_serializers.py
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
Due: be_code_check, be_unit_test

:seedling: (FE:Bootstrap) borders を追加
  frontend/pong/js/bootstrap/utilities/borders.js
Due: fe_code_check, fe_unit_test

:zap: (FE:nameplate) アバターイメージの高さを設定可能に変更
  frontend/pong/js/components/user/UserListItem.js
  frontend/pong/js/components/user/UserProfile.js
  frontend/pong/js/utils/elements/div/createNameplate.js
Due: fe_code_check, fe_unit_test

:zap: (FE:nameplate) ユーザー一人ひとりのアバターを使用
  frontend/pong/js/api/users/convertUserData.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/utils/elements/div/createNameplate.js
Due: fe_code_check, fe_unit_test

:zap: (FE:mock:users) 仮のアバターイメージを指定
  frontend/pong/js/mocks/handlers/users.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:nameplate) アバターイメージの作成部分を一つの関数にまとめ
  frontend/pong/js/utils/elements/div/createNameplate.js
Due: fe_code_check, fe_unit_test

:zap: (FE:nameplate) アバターイメージのエラーハンドリングを追加
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/utils/elements/div/createNameplate.js
Due: fe_code_check, fe_unit_test

:bug: (FE:nameplate) 不要な末尾の文字を削除
  frontend/pong/js/utils/elements/div/createNameplate.js
Due: fe_code_check, fe_unit_test

:zap: (tournaments/tournament) endopointをreadonlyなものに変更
  backend/pong/tournaments/tournament/views.py
  backend/pong/tournaments/urls.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) アクセストークンとリフレッシュトークンを取得するエンドポイントの基盤作成
  backend/pong/tmp_jwt/tests/integrations/__init__.py
  backend/pong/tmp_jwt/tests/integrations/test_token.py
  backend/pong/tmp_jwt/views/token.py
Due: be_code_check, be_unit_test

:zap: (tournaments/tournament) '/api/tournaments/'エンドポイントでroundやmatchまで返すよう変更
  backend/pong/tournaments/round/serializers.py
  backend/pong/tournaments/tournament/serializers.py
  backend/pong/tournaments/tournament/views.py
Due: be_code_check, be_unit_test

:zap: (tournaments/tournament) extend_schemaの例を修正
  backend/pong/tournaments/tournament/views.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) ユーザーが存在するかどうかを確認する処理とテストケース作成
  backend/pong/tmp_jwt/tests/integrations/test_token.py
  backend/pong/tmp_jwt/views/token.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) 存在するユーザーのパスワードが正しいかどうか確認する処理とテストケース作成
  backend/pong/tmp_jwt/tests/integrations/test_token.py
  backend/pong/tmp_jwt/views/token.py
Due: be_code_check, be_unit_test

:construction:サインインする際にe-mailとpasswordのバリデーションチェックを追加する
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/utils/validator/validateEmail.js
  frontend/pong/js/utils/validator/validatePassword.js
Due: fe_code_check, fe_unit_test

:bug:デバッグ用な設定を解除する
  frontend/pong/js/main.js
Due: fe_code_check, fe_unit_test

:zap:coderabitの指摘対応
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/utils/elements/form/createDefaultForm.js
  frontend/pong/tests/validateEmail.test.js
Due: fe_code_check, fe_unit_test

:construction: biomeテストエラーに対応した修正
  frontend/pong/js/components/auth/LoginContainer.js
Due: fe_code_check, fe_unit_test

:fire: 不要なファイルを削除する
  frontend/pong/js/bootstrap/components/form.js
Due: fe_code_check, fe_unit_test

:bug:validateEmail重複テストシナリオを削除、間違えてコメントアウトしたものを復元
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/tests/validateEmail.test.js
Due: fe_code_check, fe_unit_test

add cookie in LoginContainer
  frontend/pong/js/bootstrap/components/form.js
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/main.js
  frontend/pong/js/utils/elements/form/createDefaultForm.js
Due: fe_code_check, fe_unit_test

:seedling: サインインボターンのエントポイントアクセス処理を新規追加
  backend/pong/pong/settings.py
  frontend/Dockerfile
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/main.js
  frontend/pong/js/utils/cookie/Cookie.js
  frontend/pong/js/utils/validator/validateEmail.js
  frontend/pong/js/utils/validator/validatePassword.js
Due: be_code_check, be_unit_test, fe_code_check, fe_unit_test

:zap:2回目のcoderabit指摘対応
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/constants/Endpoints.js
  frontend/pong/js/main.js
  frontend/pong/js/utils/cookie/Cookie.js
Due: fe_code_check, fe_unit_test

:construction: formatterを整える
  frontend/pong/js/components/auth/LoginContainer.js
Due: fe_code_check, fe_unit_test

:seedling: add cookie's func
  backend/pong/pong/settings.py
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/utils/cookie/Cookie.js
Due: be_code_check, be_unit_test, fe_code_check, fe_unit_test

:construction:ログイン画面表示時にJWT認証を行う
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/utils/cookie/Cookie.js
Due: fe_code_check, fe_unit_test

:seedling: validateEmailとvalidatePasswordのテストコードを追加
  frontend/pong/js/utils/validator/validateEmail.js
  frontend/pong/tests/validateEmail.test.js
  frontend/pong/tests/validatePassword.test.js
Due: fe_code_check, fe_unit_test

:construction:不要なヘッダーを削除
  frontend/Dockerfile
Due: none

:zap: (tournaments/participations) '/api/tournaments/participations/'エンドポイントをreadonlyに変更
  backend/pong/tournaments/participation/views.py
  backend/pong/tournaments/urls.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) 成功時にアクセストークンとリフレッシュトークンを返すようにした
  backend/pong/tmp_jwt/create_access_and_refresh_token.py
  backend/pong/tmp_jwt/tests/integrations/test_token.py
  backend/pong/tmp_jwt/views/token.py
Due: be_code_check, be_unit_test

:construction:#301ブランチからlogin画面のvalidate処理を切り出す
  frontend/pong/js/components/auth/LoginContainer.js
Due: fe_code_check, fe_unit_test

:zap: (BE:jwt) emailとpassword以外のリクエストの場合の処理とテストケース追加
  backend/pong/tmp_jwt/tests/integrations/test_token.py
  backend/pong/tmp_jwt/views/token.py
Due: be_code_check, be_unit_test

:recycle: (BE:jwt) /api/tokenのdocstirngの詳細記載、todoコメント
  backend/pong/tmp_jwt/create_access_and_refresh_token.py
  backend/pong/tmp_jwt/views/token.py
Due: be_code_check, be_unit_test

:zap: FEのエラーメッセージを定数化にする
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/constants/message/Auth.js
  frontend/pong/js/utils/validator/validateEmail.js
  frontend/pong/js/utils/validator/validatePassword.js
  frontend/pong/tests/validateEmail.test.js
  frontend/pong/tests/validatePassword.test.js
Due: fe_code_check, fe_unit_test

:recycle:(users) usersのconstantsをそのまま使えるように外部accountsのconstantsを別名に変更
  backend/pong/users/serializers.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/unit/test_users_serializer.py
  backend/pong/users/views/list.py
Due: be_code_check, be_unit_test

:recycle:(users) serializerのテストでdataの中を全部比較するように修正
  backend/pong/users/tests/unit/test_users_serializer.py
Due: be_code_check, be_unit_test

:recycle:(users) usersのconstantsをそのまま使えるように外部accounts.playerの方もconstantsを別名に変更
  backend/pong/users/serializers.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/tests/unit/test_users_serializer.py
  backend/pong/users/views/list.py
  backend/pong/users/views/retrieve.py
Due: be_code_check, be_unit_test

:recycle:(users,me) 確実なためresponse.dataのフィールド全部を比較するように変更
  backend/pong/users/tests/integration/test_me.py
Due: be_code_check, be_unit_test
