Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

be_code_check:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: code_check
  script:
  - make -s lint -C backend/pong
  - make -s formatcheck -C backend/pong
  - make -s typecheck -C backend/pong

be_unit_test:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: test:unit
  services:
  - name: postgres:17.0-bullseye
    alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  ...

fe_code_check:
  image: node:22.11-alpine3.20
  stage: code_check
  before_script:
  - cd frontend/pong
  - npm install --save-dev --save-exact @biomejs/biome
  - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
  - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
  ...

fe_unit_test:
  image: node:22.11-alpine3.20
  stage: test:unit
  before_script:
  - cd frontend/pong
  - npm ci
  script:
  - npm run test:unit

:zap: jwtパッケージを追加
  backend/tools/requirements.in
  backend/tools/requirements.txt
Due: none

:zap: simplejwtライブラリの設定を追加
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:zap: api用のapi_urls.pyを作成してルーティングする
  backend/pong/pong/api_urls.py
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:zap: djangorestframework-simplejwtのViewを使って認証機能追加
  backend/pong/jwt/__init__.py
  backend/pong/jwt/urls.py
Due: be_code_check, be_unit_test

:seedling:(result) PythonでResult型を作成するための土台classをutils/に追加
  backend/pong/pong/utils/__init__.py
  backend/pong/pong/utils/result.py
Due: be_code_check, be_unit_test

:zap:(result) エラー時に使うResult型のメソッドを追加
  backend/pong/pong/utils/result.py
  backend/pong/pong/utils/test_result.py
Due: be_code_check, be_unit_test

:zap:(result) 成功時に使うResult型のメソッドを追加
  backend/pong/pong/utils/result.py
  backend/pong/pong/utils/test_result.py
Due: be_code_check, be_unit_test

:zap:(result) ok/error時に呼ばれない想定の方のunwrap関数が呼ばれたら例外が投げられることを確認
  backend/pong/pong/utils/test_result.py
Due: be_code_check, be_unit_test

:zap:(result) 使われるか不明だが、一応エラーかどうかを主体で見たい場合のメソッドを追加
  backend/pong/pong/utils/result.py
  backend/pong/pong/utils/test_result.py
Due: be_code_check, be_unit_test

:zap:(result) 自作クラスなのでデバッグ用に__repr__メソッドを追加
  backend/pong/pong/utils/result.py
  backend/pong/pong/utils/test_result.py
Due: be_code_check, be_unit_test

:zap:(result) 汎用性の高いクラスなので詳しめに説明追加
  backend/pong/pong/utils/result.py
Due: be_code_check, be_unit_test

:bug:(result) 全体で使うutilsのためディレクトリを1つ上に移動
  backend/pong/utils/__init__.py
  backend/pong/utils/result.py
  backend/pong/utils/test_result.py
Due: be_code_check, be_unit_test

:bug: jwtからjwt_tokenに変更
  backend/pong/jwt_token/__init__.py
  backend/pong/jwt_token/urls.py
  backend/pong/pong/api_urls.py
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:recycle: urls.pyを一つのファイルにまとめる
  backend/pong/pong/api_urls.py
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:recycle: 重複パッケージを削除
  backend/tools/requirements.in
Due: none

:recycle: 自動フォーマット＆チェック
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:zap:(workflows) gitlabからgithubに戻すため,workflowsを復活
  .github/workflows/backend_code_check.yml
  .github/workflows/backend_unit_test.yml
  .github/workflows/discord_PR_review.yml
  .github/workflows/discord_discussion.yml
  .github/workflows/frontend_code_check.yml
Due: none

:fire:(.gitlab) gitlab特有のファイルを削除
  .gitlab-ci.yml
  .gitlab/ci/backend.yml
  .gitlab/ci/frontend.yml
Due: be_code_check, be_unit_test, fe_code_check, fe_unit_test

:bug:(workflows) github actionsが動くようにBEのworkflowのpathを修正
  .github/workflows/backend_code_check.yml
  .github/workflows/backend_unit_test.yml
Due: none

:fire:(worlflows) BEのunit-testにDBコンテナが必要でまだ設定してないので一旦actionsをoffにするため削除
  .github/workflows/backend_unit_test.yml
Due: none

:seedling: (workflow) FE ユニットテストの自動化
  .github/workflows/frontend_unit_test.yml
Due: none

:construction:(BE/workflow) backendのunit testはDBコンテナに依存しているため,docker composeで2つのコンテナを起動してテスト実行をする
  .github/workflows/backend_unit_test.yml
Due: none

:zap:(BE/workflow) actions内には.envがないので作成する。値はGitHubリポジトリのSettingsに追加する
  .github/workflows/backend_unit_test.yml
Due: none

:zap:(BE/workflow) actions失敗用にlogsを出力する
  .github/workflows/backend_unit_test.yml
Due: none

:construction:(BE/workflow) actions失敗原因追究のため,dbコンテナ->backendコンテナの順に分けてcompose upする
  .github/workflows/backend_unit_test.yml
Due: none

:construction:(BE/workflow) actions失敗原因追究のため,先にlogsを見て一定時間だけ起動を待つ
  .github/workflows/backend_unit_test.yml
Due: none

:recycle:(BE/workflow) actions内でportを公開する必要はないので削除
  .github/workflows/backend_unit_test.yml
Due: none

:seedling:(BE/workflows) backendのunit testをactionsで走らせるためのymlのベース作成
  .github/workflows/backend_unit_test.yml
Due: none

:zap:(BE/workflows) actions内には.envがないのでymlで事前に作成する。値はGitHubリポジトリのSettingsに追加したものを使用
  .github/workflows/backend_unit_test.yml
Due: none

:zap:(BE/workflows) backendのunit-testはDBコンテナに依存しているため,db->backendの順にコンテナを起動してunit-testを実行をする
  .github/workflows/backend_unit_test.yml
Due: none

:zap:(BE/workflows) コンテナ起動後にlogsも出力しておくことで,エラー時にエラーの原因を分かりやすくする
  .github/workflows/backend_unit_test.yml
Due: none

:zap:(BE/entrypoint.sh) ついでにshell scriptのsetに,未定義の変数エラーとデバッグ用のオプション-uxを追加
  backend/tools/entrypoint.sh
Due: none

:zap:(BE/workflows) 変数の値に空白や特殊文字が入っている場合も正常にセットできるように引用符で囲んでおく
  .github/workflows/backend_unit_test.yml
Due: none

:zap:(BE/workflows) from coderabbit。セキュリティの観点から.envを最後に削除
  .github/workflows/backend_unit_test.yml
Due: none

:recycle:(BE/workflows) 一度に.envに環境変数を書き込む方がミスが減りそうなので,EOFを使うように更新
  .github/workflows/backend_unit_test.yml
Due: none

:seedling:(mypy) django-stubsをmypyに認識させるための設定をmypy.iniに書きたいので,既存のmypyの設定を移動
  backend/pong/mypy.ini
  backend/pong/pyproject.toml
Due: be_code_check, be_unit_test

:zap:(mypy) 実際にdjango-stubsをmypyに認識させるために必要な設定を追加
  backend/pong/mypy.ini
Due: be_code_check, be_unit_test

(wip) front modified
  frontend/pong/js/components/AppBase.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/page/HomePage.js
  frontend/pong/js/core/App.js
  frontend/pong/js/core/Component.js
  frontend/pong/js/main.js
Due: fe_code_check, fe_unit_test

(wip) front
  frontend/pong/index.html
  frontend/pong/js/components/AppBase.js
  frontend/pong/js/components/index.js
  frontend/pong/js/components/page/HomePage.js
  frontend/pong/js/core/Component.js
  frontend/pong/js/main.js
Due: fe_code_check, fe_unit_test

(wip) backend: cors
  backend/pong/pong/settings.py
  backend/tools/requirements.in
  backend/tools/requirements.txt
Due: be_code_check, be_unit_test

Path conditions:
  be_code_check: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  be_unit_test: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  fe_code_check: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
  fe_unit_test: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
