Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

be_code_check:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: code_check
  script:
  - make -s lint -C backend/pong
  - make -s formatcheck -C backend/pong
  - make -s typecheck -C backend/pong

be_unit_test:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: test:unit
  services:
  - name: postgres:17.0-bullseye
    alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  ...

fe_code_check:
  image: node:22.11-alpine3.20
  stage: code_check
  before_script:
  - cd frontend/pong
  - npm install --save-dev --save-exact @biomejs/biome
  - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
  - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
  ...

fe_unit_test:
  image: node:22.11-alpine3.20
  stage: test:unit
  before_script:
  - cd frontend/pong
  - npm ci
  script:
  - npm run test:unit

:construction: (example.env) OAuth2.0を使ってユーザーのクレデンシャル情報を取得するための環境変数を設定
  .env.example
Due: none

:construction: (setting.py) OAuth2.0を利用するための環境変数を適用
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:wastebasket: SECRET_KEYのコメント削除
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:bug: (settings.py) OAuthの環境変数をスキーマで定義する / Actionsでkeyがないってエラーになったため
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:recycle: oauthからoauth2に命名変更 / twitterやInstaのエンドポイントが明示的にoauth2と記述されていたため
  .env.example
  backend/pong/oauth/urls.py
  backend/pong/oauth2/__init__.py
  backend/pong/oauth2/urls.py
  backend/pong/oauth2/views.py
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:recycle: (FE) Component: _getState の仕様変更
  frontend/pong/js/core/Component.js
  frontend/pong/js/core/View.js
Due: fe_code_check, fe_unit_test

:recycle: (FE) Component: 基盤をより簡単な形に修正
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/core/Component.js
Due: fe_code_check, fe_unit_test

:recycle: (FE) homeRouter: defaultRoute 関数を利用
  frontend/pong/js/routers/homeRouter.js
Due: fe_code_check, fe_unit_test

:bug: (FE) Router: update の引数は path のみ
  frontend/pong/js/core/Router.js
Due: fe_code_check, fe_unit_test

:recycle: oauth2のurlsをimportなしのincludeで統一する
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:bug: (.env.example) ポート番号の環境変数を適用
  .env.example
Due: none

:recycle: urlpatternsの命名をtokenからoauth2に変更
  backend/pong/oauth2/urls.py
Due: be_code_check, be_unit_test

:zap: 認可エンドポイントを呼ぶケースの説明追加
  backend/pong/oauth2/views.py
Due: be_code_check, be_unit_test

:fire: oauth2_fetch_tokenを削除 / バックエンド内で使用するため
  backend/pong/oauth2/urls.py
  backend/pong/oauth2/views.py
Due: be_code_check, be_unit_test

:zap: URL の逆引きでCALLBACKのエンドポイント定義
  .env.example
  backend/pong/oauth2/views.py
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

format
  backend/pong/oauth2/views.py
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

wip
  frontend/pong/js/components/index.js
  frontend/pong/js/components/views/AboutView.js
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/routers/homeRouter.js
Due: fe_code_check, fe_unit_test

:bug: Discord に PR レビュー通知時、ユーザを対象
  .github/workflows/discord_PR_review.yml
Due: none

:bug: Discord PR レビュー通知 workflow の誤字対応
  .github/workflows/discord_PR_review.yml
Due: none

:bug: Discord 通知のメンバーデータを secrets に移行
  .github/workflows/discord_PR_review.yml
  .github/workflows/discord_discussion.yml
Due: none

:seedling:(accounts,unit) UserSerializerの正常ケースのテスト追加
  backend/pong/accounts/tests.py
  backend/pong/accounts/tests/__init__.py
  backend/pong/accounts/tests/serializers/__init__.py
  backend/pong/accounts/tests/serializers/test_user_serializer.py
Due: be_code_check, be_unit_test

:zap:(accounts,unit) UserSerializerのエラーケースで必須fieldが空の場合のテスト追加
  backend/pong/accounts/tests/serializers/test_user_serializer.py
Due: be_code_check, be_unit_test

:zap:(accounts,unit) UserSerializerのエラーケースでemailの形式が不正の場合のテスト追加
  backend/pong/accounts/tests/serializers/test_user_serializer.py
Due: be_code_check, be_unit_test

:zap:(accounts,unit) UserSerializerのcreate()で,正常にDBにUserModelを作成できたか確認するテスト追加
  backend/pong/accounts/tests/serializers/test_user_serializer.py
Due: be_code_check, be_unit_test

:zap:(accounts,unit) UserSerializerのエラーケースでusernameの重複登録を確認するテスト追加
  backend/pong/accounts/tests/serializers/test_user_serializer.py
Due: be_code_check, be_unit_test

:zap:(accounts,unit) passwordのhash化を確認するテスト追加
  backend/pong/accounts/tests/serializers/test_user_serializer.py
Due: be_code_check, be_unit_test

:construction:(accounts,unit) init: trueを追加してみる
  compose.yaml
Due: none

:seedling:(accounts,unit) PlayerSerializerのシンプルな正常ケースのテスト追加
  backend/pong/accounts/tests/serializers/test_player_serializer.py
Due: be_code_check, be_unit_test

:bug: 認証サーバーに渡すリダイレクトURIのtypo修正
  backend/pong/oauth2/views.py
Due: be_code_check, be_unit_test

:seedling ログインフォームを新規追加する
  frontend/pong/js/components/index.js
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/components/views/LoginView.js
  frontend/pong/js/components/views/test
  frontend/pong/js/core/App.js
  frontend/pong/js/core/Component.js
  frontend/pong/js/routers/homeRouter.js
Due: fe_code_check, fe_unit_test

:bug:(workflows) 環境変数DEBUGを取得していなかったため追加
  .github/workflows/backend_unit_test.yml
Due: none

:page_facing_up:(accounts,unit) PlayerSerializerのエラーケースはまだないので今後fieldが決定されたら追加するというコメント
  backend/pong/accounts/tests/serializers/test_player_serializer.py
Due: be_code_check, be_unit_test

:zap:(accounts,unit) PlayerSerializerのcreate()が複数回呼ばれた時も正常にPlayerとUserが紐づいて作成されているか確認するテスト追加
  backend/pong/accounts/tests/serializers/test_player_serializer.py
Due: be_code_check, be_unit_test

:zap:(accounts,unit) PlayerSerializerのcreate()で,正常にDBにPlayerModelを作成できたかを確認するテスト追加
  backend/pong/accounts/tests/serializers/test_player_serializer.py
Due: be_code_check, be_unit_test

Path conditions:
  be_code_check: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  be_unit_test: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  fe_code_check: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
  fe_unit_test: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
