Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

.gitlab/ci/backend.yml:

.be_common:
  image: python:3.13-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/backend.yml
        - backend/pong/**/*
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r backend/tools/requirements.txt

be_code_check:
  stage: code_check
  extends: .be_common
  script:
    - make -s lint -C backend/pong
    - make -s formatcheck -C backend/pong
    - make -s typecheck -C backend/pong

be_unit_test:
  stage: test:unit
  extends: .be_common
  services:
    - name: postgres:17.0-bullseye
      alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  script:
    - export $(grep -v '^#' .env.example | xargs)
    - make unit-test -C backend/pong

.gitlab/ci/frontend.yml:

.fe_common:
  image: node:22.11-alpine3.20
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/frontend.yml
        - frontend/pong/**/*

fe_code_check:
  stage: code_check
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm install --save-dev --save-exact @biomejs/biome
    - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
    - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
    - npx @biomejs/biome ci

fe_unit_test:
  stage: test:unit
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm ci
  script:
    - npm run test:unit

:fire: (FE:shadow) shadow 効果は一旦保留(追加で削除)
  frontend/pong/js/components/utils/ListContainer.js
  frontend/pong/js/utils/setBorderWithShadow.js
Due: fe_code_check, fe_unit_test

:zap: (BE:jwt) simplejwtの認証クラスで認証されたユーザーのみ実行するように設定
  backend/pong/accounts/views.py
  backend/pong/matches/views.py
  backend/pong/oauth2/views.py
  backend/pong/pong/settings.py
  backend/pong/tmp_jwt/views/refresh.py
  backend/pong/tmp_jwt/views/token.py
  backend/pong/tournaments/participation/views.py
  backend/pong/tournaments/tournament/views.py
  backend/pong/users/blocks/views.py
  backend/pong/users/friends/views.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Due: be_code_check, be_unit_test

:recycle: (BE:jwt)
  backend/pong/tmp_jwt/custom_jwt_authentication.py
  backend/pong/tmp_jwt/tests/unit/test_custom_jwt_authentication.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) 403から401のステータスコードを返す処理作成
  backend/pong/tmp_jwt/custom_jwt_authentication.py
Due: be_code_check, be_unit_test

⚡️(Makefile) SSLのための証明書取得のルール追加
  .gitignore
  Makefile
Due: none

:zap:(ssl) FEからBEへの通信をhttpsにしてサブドメイン(api.localhost)を使用するよう変更し,プロキシ設定でhttpsヘッダをつけてBEにリクエストを転送するように変更
  backend/pong/pong/settings.py
  frontend/nginx.conf
  frontend/pong/js/constants/Endpoints.js
Due: be_code_check, be_unit_test, fe_code_check, fe_unit_test

:zap:(media) 画像ディレクトリをvolumeで共有するまで一時的にリバースプロキシで転送する
  frontend/nginx.conf
Due: none

:zap:(FE,ssl) frontendコンテナに証明書をコピーしhttps通信ができるように
  compose.yaml
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

:zap:(static) BEの静的ファイルをFEでvolumeを使用して共有するように変更
  backend/.gitignore
  backend/Dockerfile
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/tools/entrypoint.sh
  compose.yaml
  frontend/nginx.conf
Due: be_code_check, be_unit_test

tmp: 一旦user削除
  backend/Dockerfile
  backend/tools/entrypoint.sh
Due: none

tmp: chown pongだけ復活
  backend/Dockerfile
Due: none

:seedling:(avatar,identicon) usernameをhash値にて偶奇から0/1を求め,5×5マスを左右対称に埋める
  backend/pong/accounts/player/identicon.py
Due: be_code_check, be_unit_test

:zap:(avatar,identicon) hash値から色を求める。HSLからRGBに変換
  backend/pong/accounts/player/identicon.py
Due: be_code_check, be_unit_test

:zap:(avatar,identicon) 0/1のbitパターンと色からminilibxのような要領で1の部分を四角く塗る
  backend/pong/accounts/player/identicon.py
Due: be_code_check, be_unit_test

:zap:(avatar,identicon) 一旦username.pngでファイルとして保存
  backend/pong/accounts/player/identicon.py
Due: be_code_check, be_unit_test

:construction::zap:(avatar) identicon画像をavatarのデフォルトとして使用
  backend/pong/accounts/player/models.py
Due: be_code_check, be_unit_test

:construction::zap:(avatar) Player削除時に自動でavatar画像削除がされないらしく,明示的にファイルを削除する
  backend/pong/accounts/player/models.py
Due: be_code_check, be_unit_test

:construction::zap:(avatar) 更新前のアバター画像を削除してから新しい画像を設定する
  backend/pong/users/serializers.py
  backend/pong/users/tests/integration/test_me.py
Due: be_code_check, be_unit_test

:construction::zap:(avatar) sample画像を削除しmediaディレクトリをgitにあげないように
  backend/.gitignore
  backend/pong/media/avatars/sample.png
Due: be_code_check, be_unit_test

:recycle:(accounts,test) アバター画像生成関数をmockにしてテスト時に生成しないように
  backend/pong/accounts/create_account/test_create_account.py
  backend/pong/accounts/player/tests/test_player_model.py
  backend/pong/accounts/player/tests/test_player_serializer.py
  backend/pong/accounts/tests/test_accounts.py
Due: be_code_check, be_unit_test

:recycle:(matches,test) アバター画像生成関数をmockにしてテスト時に生成しないように
  backend/pong/matches/participation/tests/test_models.py
  backend/pong/matches/score/tests/test_models.py
Due: be_code_check, be_unit_test

:recycle:(oauth2,test) アバター画像生成関数をmockにしてテスト時に生成しないように
  backend/pong/oauth2/tests/unit/test_create_oauth2_account.py
Due: be_code_check, be_unit_test

:recycle:(tournaments,test) アバター画像生成関数をmockにしてテスト時に生成しないように
  backend/pong/tournaments/participation/tests/test_command_serializers.py
  backend/pong/tournaments/tournament/tests/test_command_serializers.py
Due: be_code_check, be_unit_test

:recycle:(blocks,test) アバター画像生成関数をmockにしてテスト時に生成しないように
  backend/pong/users/blocks/serializers/tests/test_create_serializers.py
  backend/pong/users/blocks/serializers/tests/test_destroy_serializers.py
  backend/pong/users/blocks/serializers/tests/test_list_serializers.py
  backend/pong/users/blocks/tests/integration/test_create_views.py
  backend/pong/users/blocks/tests/integration/test_destroy_views.py
  backend/pong/users/blocks/tests/integration/test_list_views.py
Due: be_code_check, be_unit_test

:recycle:(friends,test) アバター画像生成関数をmockにしてテスト時に生成しないように
  backend/pong/users/friends/serializers/tests/test_create_serializers.py
  backend/pong/users/friends/serializers/tests/test_destroy_serializer.py
  backend/pong/users/friends/serializers/tests/test_list_serializers.py
  backend/pong/users/friends/tests/integration/test_create_views.py
  backend/pong/users/friends/tests/integration/test_destroy_views.py
  backend/pong/users/friends/tests/integration/test_list_views.py
Due: be_code_check, be_unit_test

:recycle:(users,test) アバター画像生成関数をmockにしてテスト時に生成しないように
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/tests/unit/test_users_serializer.py
  backend/pong/users/tests/unit/test_users_serializers_related_matches.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) アプリケーションの名前をtmp_jwtからjwtに変更
  backend/pong/jwt/__init__.py
  backend/pong/jwt/base64_url.py
  backend/pong/jwt/create_access_and_refresh_token.py
  backend/pong/jwt/custom_jwt_authentication.py
  backend/pong/jwt/jws.py
  backend/pong/jwt/jwt.py
  backend/pong/jwt/jwt_validator.py
  backend/pong/jwt/tests/__init__.py
  backend/pong/jwt/tests/integrations/__init__.py
  backend/pong/jwt/tests/integrations/test_token.py
  backend/pong/jwt/tests/unit/__init__.py
  backend/pong/jwt/tests/unit/test_base64_url.py
  backend/pong/jwt/tests/unit/test_custom_jwt_authentication.py
  backend/pong/jwt/tests/unit/test_jws.py
  backend/pong/jwt/tests/unit/test_jwt.py
  backend/pong/jwt/tests/unit/test_jwt_validator.py
  backend/pong/jwt/urls.py
  backend/pong/jwt/views/__init__.py
  backend/pong/jwt/views/refresh.py
  backend/pong/jwt/views/token.py
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/pong/simple_jwt/urls.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) userのblockのエンドポイントをsimplejwtから自作jwtに変更し、テストが通ることを確認
  backend/pong/jwt/authentication.py
  backend/pong/jwt/tests/unit/test_authentication.py
  backend/pong/users/blocks/tests/integration/test_create_views.py
  backend/pong/users/blocks/tests/integration/test_destroy_views.py
  backend/pong/users/blocks/tests/integration/test_list_views.py
  backend/pong/users/blocks/views.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) userのfriendsのエンドポイントをsimplejwtから自作jwtに変更し、テストが通ることを確認
  backend/pong/users/friends/tests/integration/test_create_views.py
  backend/pong/users/friends/tests/integration/test_destroy_views.py
  backend/pong/users/friends/tests/integration/test_list_views.py
  backend/pong/users/friends/views.py
Due: be_code_check, be_unit_test

:zap: (BE:jwt) usersのlist, me, retrieveのエンドポイントをsimplejwtから自作jwtに変更し、テストが通ることを確認
  backend/pong/matches/views.py
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/views/list.py
  backend/pong/users/views/me.py
  backend/pong/users/views/retrieve.py
Due: be_code_check, be_unit_test

⚡️ (BE:jwt) match, tournamentのエンドポイントをsimplejwtから自作jwtに変更し、テストが通ることを確認
  backend/pong/tournaments/participation/views.py
  backend/pong/tournaments/tournament/views.py
Due: be_code_check, be_unit_test

:zap: (FE:GameStartPanel) ローカル対戦を active に変更
  frontend/pong/js/components/game/GameStartPanel.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:utils) マッチの utils 関数、constants を追加
  frontend/pong/js/constants/MatchConstants.js
  frontend/pong/js/utils/match/BorderEntity.js
  frontend/pong/js/utils/match/createMatchCanvas.js
  frontend/pong/js/utils/match/entity/BorderEntity.js
  frontend/pong/js/utils/match/entity/CanvasEntity.js
  frontend/pong/js/utils/match/entity/RectangleEntity.js
  frontend/pong/js/utils/match/entity/ScoreEntity.js
  frontend/pong/js/utils/match/entity/createInitialMatchEntities.js
  frontend/pong/js/utils/match/entity/setEntities.js
Due: fe_code_check, fe_unit_test

:zap: (FE:MatchRenderer) entity タイプ確認とスタイリング追加
  frontend/pong/js/components/match/MatchRenderer.js
Due: fe_code_check, fe_unit_test

:zap: (FE:utils) data <-> entity utils を機能拡張
  frontend/pong/js/utils/match/entity/RectangleEntity.js
  frontend/pong/js/utils/match/entity/ScoreEntity.js
  frontend/pong/js/utils/match/entity/setEntities.js
Due: fe_code_check, fe_unit_test

:zap: (FE:utils) text utils 機能などを拡張
  frontend/pong/js/core/StyledButton.js
  frontend/pong/js/utils/elements/div/createFlexBox.js
  frontend/pong/js/utils/elements/span/createTextElement.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:MatchRenderer3D,threejs) マッチの 3D レンダリング対応
  frontend/pong/js/components/index.js
  frontend/pong/js/components/match/MatchRenderer3D.js
  frontend/pong/js/utils/match/ThreeUtils.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:threejs) threejs ライブラリー追加
  frontend/pong/package-lock.json
  frontend/pong/package.json
Due: fe_code_check, fe_unit_test

:seedling: (FE:customDelay) delay utils 関数作成
  frontend/pong/js/utils/customDelay.js
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:Match) ローカルマッチの管理コンポーネントを作成
  frontend/pong/js/components/index.js
  frontend/pong/js/components/match/MatchContainer.js
  frontend/pong/js/components/match/MatchRenderer.js
  frontend/pong/js/constants/PongEvents.js
Due: fe_code_check, fe_unit_test
