Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

.gitlab/ci/backend.yml:

.be_common:
  image: python:3.13-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/backend.yml
        - backend/pong/**/*
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r backend/tools/requirements.txt

be_code_check:
  stage: code_check
  extends: .be_common
  script:
    - make -s lint -C backend/pong
    - make -s formatcheck -C backend/pong
    - make -s typecheck -C backend/pong

be_unit_test:
  stage: test:unit
  extends: .be_common
  services:
    - name: postgres:17.0-bullseye
      alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  script:
    - export $(grep -v '^#' .env.example | xargs)
    - make unit-test -C backend/pong

.gitlab/ci/frontend.yml:

.fe_common:
  image: node:22.11-alpine3.20
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/frontend.yml
        - frontend/pong/**/*

fe_code_check:
  stage: code_check
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm install --save-dev --save-exact @biomejs/biome
    - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
    - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
    - npx @biomejs/biome ci

fe_unit_test:
  stage: test:unit
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm ci
  script:
    - npm run test:unit

:fire: read_fieldsを削除 / データベースに反映されなかったため
  backend/pong/oauth2/serializers.py
Due: be_code_check, be_unit_test

:zap: 関連テーブルのバリデーションを確認
  backend/pong/oauth2/serializers.py
Due: be_code_check, be_unit_test

recycle: format, lint, typecheckの修正
  backend/pong/oauth2/apps.py
  backend/pong/oauth2/tests.py
Due: be_code_check, be_unit_test

:zap: unittestコマンドに認識されるよう__init__.pyファイルを追加
  backend/pong/match/tests/__init__.py
Due: be_code_check, be_unit_test

:fire: 不要なファイルを削除
  backend/pong/match/tests.py
Due: be_code_check, be_unit_test

:recycle:(accounts) djangoのimportは直接使用して良いと決めたので,クラス名までimport
  backend/pong/accounts/admin.py
  backend/pong/accounts/models.py
Due: be_code_check, be_unit_test

:recycle:(accounts) サードパーティーであるrest_frameworkFは1つ上の名前空間までimportして使用
  backend/pong/accounts/tests/integration/test_accounts.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:recycle:(accounts) サードパーティーであるdrf_spectacularは1つ上の名前空間までimportして使用
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:recycle:(accounts) python標準ライブラリも1つ上の名前空間までimportして使用
  backend/pong/accounts/constants.py
Due: be_code_check, be_unit_test

:recycle:(accounts) constantsファイルの自作クラスのimportはファイル名から書くように
  backend/pong/accounts/admin.py
  backend/pong/accounts/serializers.py
  backend/pong/accounts/tests/integration/test_accounts.py
  backend/pong/accounts/tests/serializers/test_player_serializer.py
  backend/pong/accounts/tests/serializers/test_user_serializer.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:recycle:(accounts) テストなので簡単のためよく使う定数をglobalにセット
  backend/pong/accounts/tests/integration/test_accounts.py
  backend/pong/accounts/tests/serializers/test_player_serializer.py
Due: be_code_check, be_unit_test

:recycle:(jwt_token) 1つ上の名前空間までimportして使用
  backend/pong/jwt_token/urls.py
Due: be_code_check, be_unit_test

:recycle:(swagger-ui) 1つ上の名前空間までimportして使用
  backend/pong/swagger_ui/urls.py
Due: be_code_check, be_unit_test

:recycle:(health_check) 1つ上の名前空間までimportして使用
  backend/pong/pong/health_check/tests.py
  backend/pong/pong/health_check/views.py
Due: be_code_check, be_unit_test

:zap:(accounts) 他のappから別のUserSerializerでアカウント作成したいため,PlayerSerializerとUserSerializerと分離
  backend/pong/accounts/serializers.py
  backend/pong/accounts/tests/integration/test_accounts.py
  backend/pong/accounts/tests/serializers/test_player_serializer.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:recycle:(accounts,test) User作成と紐づくPlayer作成を関数に分けて共通化
  backend/pong/accounts/tests/serializers/test_player_serializer.py
Due: be_code_check, be_unit_test

:zap:(accounts) 他appからも同じ工程でUserとPlayerが作成できるように関数に切り出し
  backend/pong/accounts/create_account.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:zap:(accounts) アカウント作成時に各app専用のUserSerializerを渡せるように
  backend/pong/accounts/create_account.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:recycle:(accounts) UserとPlayerを紐づけてPlayerSerializerを作成する部分を関数分け
  backend/pong/accounts/create_account.py
Due: be_code_check, be_unit_test

:zap:(accounts) アカウント作成完了後に返す情報をPlayerではなくUserに変更
  backend/pong/accounts/create_account.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:bug:(compose.yaml) healthcheckはコンテナ内で行われるため,コンテナポートの方を指定するよう修正
  compose.yaml
Due: none

:recycle: (FE:Endpoint) エンドポイントの書き方を変更
  frontend/pong/js/Endpoints.js
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/endpoints.js
  frontend/pong/js/mocks/handlers.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:match) match 関連の列挙オブジェクト追加
  frontend/pong/js/enums/MatchEnums.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:match) match 関連定数ファイル追加
  frontend/pong/js/constants/MatchConstants.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:mock) msw ハンドラーの構造を整備
  frontend/pong/js/mocks/handlers/health.js
  frontend/pong/js/mocks/handlers/index.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:utils) utils ディレクトリを導入
  frontend/pong/js/utils/sum.js
  frontend/pong/tests/sum.test.js
Due: fe_code_check, fe_unit_test

:zap: PRのテンプレートにあるコメントを非表示にしました
  .github/pull_request_template.md
Due: none

:seedling:(accounts,test) MockのSerializerでcreate_account()が正常に動作するか確認するテスト追加
  backend/pong/accounts/tests/create_account/__init__.py
  backend/pong/accounts/tests/create_account/test_create_account.py
Due: be_code_check, be_unit_test

:recycle:(accounts) error時のresponse形式を"error"をキーで返すように統一
  backend/pong/accounts/tests/integration/test_accounts.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:page_facing_up:(accounts) todoコメント・説明コメント追加
  backend/pong/accounts/create_account.py
  backend/pong/accounts/models.py
  backend/pong/accounts/tests/create_account/test_create_account.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:seedling: (FE:utils) 一次元衝突モデルにおける足し算関数など
  frontend/pong/js/utils/incrementWithBounds.js
  frontend/pong/js/utils/incrementWithWrap.js
  frontend/pong/js/utils/isPreservingDirectionWithBounds.js
  frontend/pong/tests/incrementWithBounds.test.js
  frontend/pong/tests/incrementWithWrap.test.js
  frontend/pong/tests/isPreservingDirectionWithBounds.test.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:ws) WebSocketEnums 追加
  frontend/pong/js/enums/WebSocketEnums.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:ws) payload を送信するヘルプ関数を追加
  frontend/pong/js/mocks/utils/websocket/sendPayloads.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:ws) マッチをモックするハンドラーを追加
  frontend/pong/js/mocks/utils/websocket/matchPayloadHandler.js
Due: fe_code_check, fe_unit_test

:zap: (FE:ws) WebSocket モックハンドラーを追加設定
  frontend/pong/js/mocks/handlers/index.js
  frontend/pong/js/mocks/handlers/webSocket.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:match) ボールの速度変数名を変更
  frontend/pong/js/constants/MatchConstants.js
  frontend/pong/js/mocks/utils/websocket/matchPayloadHandler.js
Due: fe_code_check, fe_unit_test

:zap:(CORS) djangoでCORSの設定に必要なパッケージdajngo-cors-headersのinstall
  backend/tools/requirements.in
  backend/tools/requirements.txt
Due: none

:zap:(CORS) 特定のオリジンからのrequestを許可するCORSの設定をdjangoに追加
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:page_facing_up:(settings) 何の設定なのか分かりやすいように他に合わせてコメント追加
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:fire: request変数名を削除 / 各、serializerに渡すデータはAPIのリクエストではないのため
  backend/pong/oauth2/views.py
Due: be_code_check, be_unit_test
