Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

.gitlab/ci/backend.yml:

.be_common:
  image: python:3.13-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/backend.yml
        - backend/pong/**/*
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r backend/tools/requirements.txt

be_code_check:
  stage: code_check
  extends: .be_common
  script:
    - make -s lint -C backend/pong
    - make -s formatcheck -C backend/pong
    - make -s typecheck -C backend/pong

be_unit_test:
  stage: test:unit
  extends: .be_common
  services:
    - name: postgres:17.0-bullseye
      alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  script:
    - export $(grep -v '^#' .env.example | xargs)
    - make unit-test -C backend/pong

.gitlab/ci/frontend.yml:

.fe_common:
  image: node:22.11-alpine3.20
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/frontend.yml
        - frontend/pong/**/*

fe_code_check:
  stage: code_check
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm install --save-dev --save-exact @biomejs/biome
    - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
    - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
    - npx @biomejs/biome ci

fe_unit_test:
  stage: test:unit
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm ci
  script:
    - npm run test:unit

:bug: (ws/tournament) routing経由だとtournament manager registryを取得できなかったので、モジュールでグローバルインスタンスを作成し、それを利用
  backend/pong/ws/consumers.py
  backend/pong/ws/tournament/handler.py
Due: be_code_check, be_unit_test

:zap: (FE:guest) ゲストボタンでホームに移動するように設定
  frontend/pong/js/components/auth/LoginContainer.js
Due: fe_code_check, fe_unit_test

:zap: (ws/tournament) is_errorの使い方が間違っていたので修正
  backend/pong/ws/match/match_manager.py
  backend/pong/ws/tournament/manager.py
Due: be_code_check, be_unit_test

:zap: (ws/tournament) メッセージ定数を追加
  backend/pong/ws/tournament/constants.py
Due: be_code_check, be_unit_test

:zap: (ws/tournament) tournament registryのグローバルインスタンスをモジュールで作成する
  backend/pong/ws/routing.py
  backend/pong/ws/tournament/manager_registry.py
Due: be_code_check, be_unit_test

:zap: (ws/tournament) 非同期DB操作関数を修正
  backend/pong/ws/tournament/async_db_service.py
Due: be_code_check, be_unit_test

:zap:(media) mediaをvolumeで共有して配信する
  backend/Dockerfile
  compose.yaml
  frontend/nginx.conf
Due: none

:recycle: (ws/tournament) 型チェック
  backend/pong/ws/routing.py
  backend/pong/ws/tournament/async_db_service.py
  backend/pong/ws/tournament/handler.py
  backend/pong/ws/tournament/manager.py
  backend/pong/ws/tournament/manager_registry.py
Due: be_code_check, be_unit_test

:zap:(redis) 校舎用にredisのportがかぶらないようにずらす
  .env.example
Due: none

:seedling: (FE:mocks) WebSocket ログインモックの作成
  frontend/pong/js/mocks/handlers/webSocket.js
  frontend/pong/js/mocks/utils/websocket/loginPayloadHandler.js
  frontend/pong/js/mocks/utils/websocket/sendPayloads.js
Due: fe_code_check, fe_unit_test

:bug: (ws/tournament) メッセージ形式のバグとログ追加
  backend/pong/ws/tournament/handler.py
Due: be_code_check, be_unit_test

:zap: (FE:api) フレンド関連 api でオンラインステータスも連携
  frontend/pong/js/api/users/deleteFriends.js
  frontend/pong/js/api/users/getFriends.js
  frontend/pong/js/api/users/postFriends.js
Due: fe_code_check, fe_unit_test

:zap: (FE:websocket) 切断時にサインアウトと連携
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:zap: (FE:Bootstrap) position relative や visually-hidden 追加
  frontend/pong/js/bootstrap/utilities/helpers.js
  frontend/pong/js/bootstrap/utilities/position.js
Due: fe_code_check, fe_unit_test

:zap: (FE:websocket) STATUS カテゴリルールの対応
  frontend/pong/js/enums/WebSocketEnums.js
  frontend/pong/js/utils/hasNumericKey.js
  frontend/pong/js/utils/user/deleteStatus.js
  frontend/pong/js/utils/user/requestStatus.js
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:zap: (FE:friend) フレンド表示時にオンラインステータス追加
  frontend/pong/js/api/users/convertFriendData.js
  frontend/pong/js/utils/elements/div/createNameplate.js
  frontend/pong/js/utils/user/formatUserInfo.js
Due: fe_code_check, fe_unit_test

:bug: (FE:WebSocketWrapper) ステータスデータの形式を統一
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:zap: (FE:friend) フレンド表示がステータスの変化とともに変わるように設定
  frontend/pong/js/components/user/UserListContainer.js
  frontend/pong/js/components/views/FriendsView.js
Due: fe_code_check, fe_unit_test

:bug: (FE:getFriends) フォーマッタールール: import 順序
  frontend/pong/js/api/users/getFriends.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:status) webSocket と連携し、ユーザーステータスの管理
  frontend/pong/js/enums/WebSocketEnums.js
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:loginPayloadHandler) 形式的なモックなため、簡単なものに変更
  frontend/pong/js/mocks/utils/websocket/loginPayloadHandler.js
Due: fe_code_check, fe_unit_test

:fire: (FE:WebSocketWrapper) 使用しない onOpen を削除
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:bug: (ws/tournament) DBのバグを修正
  backend/pong/ws/tournament/async_db_service.py
Due: be_code_check, be_unit_test

(review!) デフォルトの sample.png を追加
  backend/pong/media/avatars/sample.png
Due: be_code_check, be_unit_test

:zap:(matches) 分かりやすさのためadminサイトでis_winも表示
  backend/pong/matches/admin.py
Due: be_code_check, be_unit_test

:zap:(commands) mock user,playerを作成するコマンドをdjangoに追加
  backend/pong/Makefile
  backend/pong/pong/management/__init__.py
  backend/pong/pong/management/commands/__init__.py
  backend/pong/pong/management/commands/create_mock_players.py
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:zap:(commands) mock tournamentを作成するコマンドをdjangoに追加
  backend/pong/Makefile
  backend/pong/pong/management/commands/create_mock_tournament.py
Due: be_code_check, be_unit_test

:fire:(redis) redisはコンテナネットワーク内でしか使用していなかったのでport公開を削除
  .env.example
  .github/workflows/backend_code_check.yml
  .github/workflows/backend_test.yml
  backend/pong/pong/settings.py
  compose.yaml
Due: be_code_check, be_unit_test

:zap: (BE:oauth2) callbackのレスポンスで成功のときのリダイレクトuriを設定する
  backend/pong/oauth2/views.py
  backend/pong/pong/settings.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2) 既にアカウント作成してる場合の処理作成
  backend/pong/media/avatars/sample.png
  backend/pong/oauth2/views.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2) callbackが失敗した時のクエリパラメータの付与
  backend/pong/oauth2/views.py
Due: be_code_check, be_unit_test
