Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

be_code_check:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: code_check
  script:
  - make -s lint -C backend/pong
  - make -s formatcheck -C backend/pong
  - make -s typecheck -C backend/pong

be_unit_test:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: test:unit
  services:
  - name: postgres:17.0-bullseye
    alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  ...

fe_code_check:
  image: node:22.11-alpine3.20
  stage: code_check
  before_script:
  - cd frontend/pong
  - npm install --save-dev --save-exact @biomejs/biome
  - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
  - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
  ...

fe_unit_test:
  image: node:22.11-alpine3.20
  stage: test:unit
  before_script:
  - cd frontend/pong
  - npm ci
  script:
  - npm run test:unit

:zap: (websocket/match) メッセージの値を大文字に統一
  backend/pong/match/match_enums.py
Due: be_code_check, be_unit_test

:recycle: (FE:Endpoints) ホスト値をまとめる
  frontend/pong/js/Endpoints.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:Endpoints) WebSocket の命名をシンプルに変更
  frontend/pong/js/Endpoints.js
  frontend/pong/js/mocks/handlers/webSocket.js
Due: fe_code_check, fe_unit_test

:bug: (FE:Endpoints) パス名をスラッシュ終わりに修正
  frontend/pong/js/Endpoints.js
Due: fe_code_check, fe_unit_test

:seedling: Add login component&css file
  frontend/pong/css/style.css
  frontend/pong/index.html
  frontend/pong/js/components/index.js
  frontend/pong/js/components/views/LoginView.js
  frontend/pong/js/routers/homeRouter.js
  frontend/pong/js/routers/loginRouter.js
  frontend/pong/package-lock.json
Due: fe_code_check, fe_unit_test

:zap:(accounts,test) DBの状態をより詳しくテストするようにレコードの存在確認を追加
  backend/pong/accounts/tests/integration/test_accounts.py
Due: be_code_check, be_unit_test

:recycle:(accounts) 必須フィールドが存在しない場合のvalidationはextra_kwargsの設定で充分だったため置き換え
  backend/pong/accounts/serializers.py
Due: be_code_check, be_unit_test

:recycle:(accounts,test) usernameの重複登録のテストで,1人目作成時も統一してUserSerializerを使用する
  backend/pong/accounts/tests/serializers/test_user_serializer.py
Due: be_code_check, be_unit_test

:zap:(accounts,test) そもそも必須フィールドが存在しない場合のテストを追加
  backend/pong/accounts/tests/serializers/test_user_serializer.py
Due: be_code_check, be_unit_test

:recycle:(accounts) 特にフィールドを個別に指定する必要がなかったため,まとめて渡すよう変更
  backend/pong/accounts/serializers.py
Due: be_code_check, be_unit_test

:zap:(accounts) usernameはrequestから削除し,BEでserializerに渡す前にランダム文字列をセットする
  backend/pong/accounts/tests/integration/test_accounts.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:recycle:(.env) 特殊文字など入る可能性もあり基本ダブルクオートで囲うことにしたため追加
  .env.example
Due: none

:zap: set all Form & button in login page and utile _onConnect()
  frontend/pong/css/style.css
  frontend/pong/js/components/views/LoginView.js
Due: fe_code_check, fe_unit_test

:recycle:(accounts) 責務分割のためUserSerializer作成部分を試しに関数内関数にしてみる
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:zap:(accounts) dict.pop()にdefaultを指定し,keyが存在しない場合に例外を発生させないように
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:zap:(accounts) response形式をチームで決めたものに統一した
  backend/pong/accounts/tests/integration/test_accounts.py
  backend/pong/accounts/views.py
Due: be_code_check, be_unit_test

:bug: correct the mistake pointed by coderabbit and correct format
  frontend/pong/css/style.css
  frontend/pong/js/components/views/LoginView.js
Due: fe_code_check, fe_unit_test

:recycle: (websocket/match) コメントを修正
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:recycle: (websocket/match) 数値をべた書きしていた部分を定数に置き換える
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:recycle: (websocket/match) stage周りの必要のない処理を修正
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:recycle: (websocket/match) ステージごとのハンドラ関数のdocstringを修正
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:bug: (websocket/match) 試合が終了してもPLAYメッセージを送ってしまっていたので修正
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap: (websocket/match) クリーンナップ処理を作成
  backend/pong/match/consumers.py
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap: 一部の必須フィールドのデータの場合、serializers.errorに値が入っていないことを確認するテスト追加
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:recycle: (FE:Endpoints) WebSocket URL の名前変更を反映
  frontend/pong/js/components/views/HomeView.js
  frontend/pong/js/websocket/index.js
Due: fe_code_check, fe_unit_test

:bug:(create_account) drf_としたかったtypoを修正
  backend/pong/accounts/create_account.py
Due: be_code_check, be_unit_test

:zap:(create_acount) ModelSerializerを継承した引数が実際にUserModelに対応していることを確認する
  backend/pong/accounts/create_account.py
Due: be_code_check, be_unit_test

:recycle:(create_account) Player作成に関して,DBに保存するまでを同じ関数で行うように変更
  backend/pong/accounts/create_account.py
Due: be_code_check, be_unit_test

:recycle:(create_account) User作成も同様にis_valid(),save()を関数にまとめた
  backend/pong/accounts/create_account.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2 test_serializers.py) 一部の必須フィールドの場合のテストのdocstirngと変数名修正
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2 test_serializers.py) シリアライザーのsetUp関数のdocstirngの追加、修正
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2 test_serializers.py) FortyTwoTokenTestCase / test_validate_none_dataにあるnullを定数に修正
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2 test_serializer.py) 正しい token_data だけ setUp() に書いて test_invalid_token_type() 内で必要なセットアップだけ上書きして書くように修正
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (BE:oauth2 test_serializer.py) 6文字以上ののbearer, mac以外のトークンタイプのテスト追加 / test_models.py追加した時に削除するかも
  backend/pong/oauth2/tests/unit/test_serializers.py
Due: be_code_check, be_unit_test

:zap: (websocket/match) 勝利時の点数を定数で定義
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:recycle: (websocket/match) 条件式をpython likeな書き方に修正
  backend/pong/match/match_handler.py
Due: be_code_check, be_unit_test

:zap: (websocket) websocketのイベントで共通のメッセージスキーマをバリデーションするシリアライザ―を作成
  backend/pong/match/serializers/ws_serializer.py
Due: be_code_check, be_unit_test

:zap: (package) テストでパラメーターテストができるようparameterizedパッケージを追加
  backend/tools/requirements.in
  backend/tools/requirements.txt
Due: none

:white_check_mark: (websocket/match) websocket共通とMATCHのメッセージシリアライザ―のテストを作成
  backend/pong/match/tests.py
  backend/pong/match/tests/__init__.py
  backend/pong/match/tests/unit/__init__.py
  backend/pong/match/tests/unit/serializers/__init__.py
  backend/pong/match/tests/unit/serializers/test_match_serializer.py
  backend/pong/match/tests/unit/serializers/test_ws_serializer.py
Due: be_code_check, be_unit_test

:zap: (websocket/match) MATCHイベントのメッセージスキーマをバリデーションするシリアライザ―を作成
  backend/pong/match/serializers/match_serializer.py
Due: be_code_check, be_unit_test

Path conditions:
  be_code_check: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  be_unit_test: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  fe_code_check: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
  fe_unit_test: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
