Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

be_code_check:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: code_check
  script:
  - make -s lint -C backend/pong
  - make -s formatcheck -C backend/pong
  - make -s typecheck -C backend/pong

be_unit_test:
  image: python:3.13-bullseye
  before_script:
  - python -m pip install --upgrade pip
  - pip install -r backend/tools/requirements.txt
  stage: test:unit
  services:
  - name: postgres:17.0-bullseye
    alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  ...

fe_code_check:
  image: node:22.11-alpine3.20
  stage: code_check
  before_script:
  - cd frontend/pong
  - npm install --save-dev --save-exact @biomejs/biome
  - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
  - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
  ...

fe_unit_test:
  image: node:22.11-alpine3.20
  stage: test:unit
  before_script:
  - cd frontend/pong
  - npm ci
  script:
  - npm run test:unit

:bug:(users,list) ユーザー一覧取得の際、各Playerごとの勝敗数が取得できていなかったのを修正
  backend/pong/users/serializers.py
Due: be_code_check, be_unit_test

:zap:(Makefile) docker compose down時にvolumeも消すコマンド追加
  Makefile
Due: none

:zap:(Makefile) 使用してるサービスのimageを全部削除するコマンド追加
  Makefile
Due: none

:zap:(Makfile) ビルドキャッシュを全部削除するコマンド追加
  Makefile
Due: none

:zap:(Makefile) アバター画像を削除するコマンド追加
  Makefile
Due: none

:zap:(Makefile) dockerの関連履歴・アバター画像・ssl証明書を全部削除するルール追加
  Makefile
Due: none

:zap:(create_mock_players) user,player作成時にtransaction処理追加
  backend/pong/pong/management/commands/create_mock_players.py
Due: be_code_check, be_unit_test

:recycle:(create_mock_players) 作成に成功したplayerのmock番号を表示する
  backend/pong/pong/management/commands/create_mock_players.py
Due: be_code_check, be_unit_test

:zap:(create_mock_tournament) tournament関連の作成時にtransaction処理追加
  backend/pong/pong/management/commands/create_mock_tournament.py
Due: be_code_check, be_unit_test

:zap: (FE:DashboardView) データ準備を行い、表示は連携する形に変更
  frontend/pong/js/components/views/DashboardView.js
  frontend/pong/js/utils/match/extractMatches.js
Due: fe_code_check, fe_unit_test

:zap: (FE:CustomComponent) ダッシュボード関連のカスタム要素登録
  frontend/pong/js/components/index.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:dashboard) マッチのスコア履歴の表示の準備
  frontend/pong/js/components/match/MatchBoard.js
  frontend/pong/js/utils/match/entity/ScoreHistoryEntity.js
  frontend/pong/js/utils/match/entity/createScoreHistoryEntities.js
Due: fe_code_check, fe_unit_test

:zap: (FE:UserProfile) 自分の場合はフレンド追加などなし
  frontend/pong/js/components/user/UserProfile.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:api) getMatch, getTournaments を追加
  frontend/pong/js/api/matches/convertMatchData.js.js
  frontend/pong/js/api/matches/getMatch.js
  frontend/pong/js/api/tournaments/convertTournamentData.js
  frontend/pong/js/api/tournaments/getTournaments.js
  frontend/pong/js/api/users/convertMyInfoData.js
  frontend/pong/js/constants/Endpoints.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:MatchCard,PlayerProfile) マッチ関連の方に移動
  frontend/pong/js/components/match/MatchCard.js
  frontend/pong/js/components/match/PlayerProfile.js
  frontend/pong/js/components/match/createScore.js
  frontend/pong/js/components/tournament/RoundCard.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:mocks) participations のページネーション形式に移行
  frontend/pong/js/mocks/handlers/participations.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:DashboardView) 形式的に DashboardView を一旦追加
  frontend/pong/js/components/index.js
  frontend/pong/js/components/navigation/MainNavbar.js
  frontend/pong/js/components/views/DashboardView.js
  frontend/pong/js/components/views/MainView.js
  frontend/pong/js/constants/Paths.js
  frontend/pong/js/routers/appRouter.js
  frontend/pong/js/routers/mainRouter.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:dashboard) ダッシュボードの指標とその構成を追加
  frontend/pong/js/components/dashboard/DashboardContainer.js
  frontend/pong/js/components/dashboard/DashboardStats.js
Due: fe_code_check, fe_unit_test

:zap:(static) BEの静的ファイルをFEでvolumeを使用して共有するように変更
  backend/.gitignore
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
  backend/tools/entrypoint.sh
  compose.yaml
  frontend/nginx.conf
Due: be_code_check, be_unit_test

:fire:(nginx_conf) スペース削除
  frontend/nginx.conf
Due: none

:bug: (ws/login) loginおよびlogoutを知らせる際に取得するidを間違えていたので修正
  backend/pong/ws/login/handler.py
Due: be_code_check, be_unit_test

:bug: (FE:dashboard) マッチよりトーナメント優勝回数を計算
  frontend/pong/js/components/dashboard/DashboardStats.js
Due: fe_code_check, fe_unit_test

:zap: (FE:dashboard) マッチ履歴なしのハンドリングを追加
  frontend/pong/js/components/dashboard/DashboardContainer.js
  frontend/pong/js/components/dashboard/DashboardStats.js
Due: fe_code_check, fe_unit_test

:zap: (FE:DashboardView) ローディングに合わせ、エラー表示を準備
  frontend/pong/js/components/views/DashboardView.js
Due: fe_code_check, fe_unit_test

:construction:　構築中
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/utils/cookie/Cookie.js
Due: fe_code_check, fe_unit_test

:construction: 構築中
  frontend/pong/js/components/auth/LoginContainer.js
Due: fe_code_check, fe_unit_test

:construction:構築中
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/utils/cookie/Cookie.js
Due: fe_code_check, fe_unit_test

:recycle:フォーマータ適応
  frontend/pong/js/utils/cookie/Cookie.js
Due: fe_code_check, fe_unit_test

:bug:ログアウトできない動作の修正
  frontend/pong/js/session/UserSession.js
  frontend/pong/js/utils/cookie/Cookie.js
Due: fe_code_check, fe_unit_test

:zap: (FE:UserSession) token の持ち方の整備
  frontend/pong/js/session/UserSession.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:tokens) 変数名やコードフォマットの調整
  frontend/pong/js/components/auth/LoginContainer.js
  frontend/pong/js/session/UserSession.js
Due: fe_code_check, fe_unit_test

:fire: (FE:Cookie) 一旦使用しないのでマージ対象にせず削除
  frontend/pong/js/utils/cookie/Cookie.js
Due: fe_code_check, fe_unit_test

:bug:(mock,tournament) team番号を1,2と割り振る
  backend/pong/pong/management/commands/create_mock_tournament.py
Due: be_code_check, be_unit_test

:bug: (FE:websocket) ログインルールを守るようにキーを正しく指定
  frontend/pong/js/mocks/utils/websocket/loginPayloadHandler.js
  frontend/pong/js/websocket/WebSocketWrapper.js
Due: fe_code_check, fe_unit_test

:zap: (FE:websocket) websocket 接続性の問題をより厳しく対応
  frontend/pong/js/main.js
  frontend/pong/js/session/UserSession.js
Due: fe_code_check, fe_unit_test

:bug: (FE:SignUpView) サインアップ時の認証チェックがなかったので対応
  frontend/pong/js/components/views/SignUpView.js
Due: fe_code_check, fe_unit_test

:bug: (FE:LoginView) ベースコンストラクタとの連携が抜けていたところを修正
  frontend/pong/js/components/views/LoginView.js
Due: fe_code_check, fe_unit_test

:zap: (FE:MainNavbar) ゲストはナビゲーションが不要なため非表示
  frontend/pong/js/components/navigation/MainNavbar.js
  frontend/pong/js/utils/elements/nav/createGuestNavbar.js
Due: fe_code_check, fe_unit_test

:zap: (FE:GameStartPanel) ゲストのリモートトーナメント入口ボタンは無効化
  frontend/pong/js/components/game/GameStartPanel.js
Due: fe_code_check, fe_unit_test

:zap: (FE:UserProfileHeader) ゲストにサインイン、サインアップ、両方を表示
  frontend/pong/js/components/auth/SignInButton.js
  frontend/pong/js/components/auth/SignUpButton.js
  frontend/pong/js/components/user/UserProfileHeader.js
Due: fe_code_check, fe_unit_test

Path conditions:
  be_code_check: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  be_unit_test: any of: .gitlab/ci/backend.yml, backend/pong/**/*
  fe_code_check: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
  fe_unit_test: any of: .gitlab/ci/frontend.yml, frontend/pong/**/*
