Repository 42-pong/42-pong: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_code_check, be_unit_test, fe_code_check, fe_unit_test

.gitlab/ci/backend.yml:

.be_common:
  image: python:3.13-bullseye
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/backend.yml
        - backend/pong/**/*
  before_script:
    - python -m pip install --upgrade pip
    - pip install -r backend/tools/requirements.txt

be_code_check:
  stage: code_check
  extends: .be_common
  script:
    - make -s lint -C backend/pong
    - make -s formatcheck -C backend/pong
    - make -s typecheck -C backend/pong

be_unit_test:
  stage: test:unit
  extends: .be_common
  services:
    - name: postgres:17.0-bullseye
      alias: db
  variables:
    POSTGRES_USER: $DB_USER
    POSTGRES_PASSWORD: $DB_PASSWORD
    POSTGRES_DB: $DB_NAME
  script:
    - export $(grep -v '^#' .env.example | xargs)
    - make unit-test -C backend/pong

.gitlab/ci/frontend.yml:

.fe_common:
  image: node:22.11-alpine3.20
  rules:
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "dev")
    - if: ($CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == "main")
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TITLE =~ /^(\[Draft\]|\(Draft\)|Draft:)/)
      when: never
    - if: ($CI_PIPELINE_SOURCE == "merge_request_event")
      changes:
        - .gitlab/ci/frontend.yml
        - frontend/pong/**/*

fe_code_check:
  stage: code_check
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm install --save-dev --save-exact @biomejs/biome
    - BIOME_VERSION=$(npm pkg get devDependencies.@biomejs/biome | tr -d \")
    - npm install --save-dev --save-exact @biomejs/biome@${BIOME_VERSION}
  script:
    - npx @biomejs/biome ci

fe_unit_test:
  stage: test:unit
  extends: .fe_common
  before_script:
    - cd frontend/pong
    - npm ci
  script:
    - npm run test:unit

:seedling: (FE:Endpoints) ユーザー関連のエンドポイント追加
  frontend/pong/js/constants/Endpoints.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:ListContainer) リスト表示を担当するカスタム要素作成
  frontend/pong/js/components/utils/ListContainer.js
  frontend/pong/js/utils/elements/li/createDefaultListItem.js
  frontend/pong/js/utils/elements/ul/createDefaultUnorderedList.js
Due: fe_code_check, fe_unit_test

:zap: (FE:CustomComponent) ユーザー関連のカスタム要素登録
  frontend/pong/js/components/index.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:UserListItem) ユーザー一人を表示するカスタム要素作成
  frontend/pong/js/components/user/UserListItem.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:api/users) ユーザー情報の fetch をラップして準備
  frontend/pong/js/api/users/convertUserData.js
  frontend/pong/js/api/users/getUser.js
  frontend/pong/js/api/users/getUsers.js
  frontend/pong/js/api/utils/fetchData.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:Button) フレンド追加、ブロックボタンを形式的に作成
  frontend/pong/js/components/friend/AddFriendButton.js
  frontend/pong/js/components/user/BlockUserButton.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:UserProfile) ユーザープロフィールのカスタム要素を作成
  frontend/pong/js/components/user/UserProfile.js
  frontend/pong/js/utils/elements/div/createDefaultCard.js
  frontend/pong/js/utils/elements/div/createNameplate.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:UserListContainer) ユーザー一覧のカスタム要素作成
  frontend/pong/js/components/user/UserListContainer.js
  frontend/pong/js/components/user/UserProfileContainer.js
  frontend/pong/js/constants/PongEvents.js
Due: fe_code_check, fe_unit_test

:zap: (FE:StyledButton) セット可能なスタイルの拡張
  frontend/pong/js/core/StyledButton.js
Due: fe_code_check, fe_unit_test

:zap: (FE:Bootstrap) 必要なクラス名のセット関数を追加
  frontend/pong/js/bootstrap/components/buttons.js
  frontend/pong/js/bootstrap/components/card.js
  frontend/pong/js/bootstrap/components/listGroup.js
  frontend/pong/js/bootstrap/layout/grid.js
  frontend/pong/js/bootstrap/utilities/overflow.js
  frontend/pong/js/bootstrap/utilities/sizing.js
  frontend/pong/js/bootstrap/utilities/spacing.js
  frontend/pong/js/bootstrap/utilities/text.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:ErrorContainer) エラー表示の要素を作成
  frontend/pong/js/components/utils/ErrorContainer.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:utils) 要素の高さ設定を可能とする関数を準備
  frontend/pong/js/utils/elements/style/setHeight.js
Due: fe_code_check, fe_unit_test

:zap:(response) エラー時にcodeを返すように決まったので追加
  backend/pong/pong/custom_response/custom_response.py
  backend/pong/pong/custom_response/test_custom_response.py
Due: be_code_check, be_unit_test

:recycle:(response) 型ヒントにOptionalを使用・Noneの場合の初期値代入方法を変更
  backend/pong/pong/custom_response/custom_response.py
Due: be_code_check, be_unit_test

:zap:(response) errorsのテストからcodeに焦点を当てたテストに変更しテストケース追加
  backend/pong/pong/custom_response/test_custom_response.py
Due: be_code_check, be_unit_test

:zap: (tournaments/round) roundモデルを作成
  backend/pong/tournaments/round/models.py
Due: be_code_check, be_unit_test

:zap: (tournaments/round) ラウンドテーブル用の定数を定義
  backend/pong/tournaments/constants.py
Due: be_code_check, be_unit_test

:recycle: (tournaments/participation) トーナメント参加モデルの外部キー名を変更
  backend/pong/tournaments/participation/models.py
Due: be_code_check, be_unit_test

:zap: (tournaments/tournament) トーナメントのステータスに'canceled'を追加
  backend/pong/tournaments/constants.py
Due: be_code_check, be_unit_test

:zap: (tournaments) migrationsファイルを更新
  backend/pong/tournaments/migrations/0001_initial.py
Due: be_code_check, be_unit_test

:zap: (tournaments/round) adminサイトにRoundモデルを追加
  backend/pong/tournaments/admin.py
Due: be_code_check, be_unit_test

:zap:(response) pong全体で使用するエラーコードのみcustom_response内に定義
  backend/pong/pong/custom_response/custom_response.py
Due: be_code_check, be_unit_test

:zap:(avatar,settings) アバター画像(media)を使用するための設定追加
  backend/pong/pong/settings.py
  backend/pong/pong/urls.py
Due: be_code_check, be_unit_test

:zap:(avatar,model) avatarフィールドをモデル・adminに追加
  backend/pong/accounts/admin.py
  backend/pong/accounts/constants.py
  backend/pong/accounts/migrations/0001_initial.py
  backend/pong/accounts/player/models.py
Due: be_code_check, be_unit_test

:zap:(avatar,serializer) PlayerSerializerのフィールドにavatar追加
  backend/pong/accounts/player/serializers.py
  backend/pong/accounts/player/tests/test_player_serializer.py
Due: be_code_check, be_unit_test

:zap:(avatar,serializer) UsersSerializerのフィールドにもavatar追加
  backend/pong/users/serializers.py
Due: be_code_check, be_unit_test

:zap:(avatar) ImageFieldを使うのにPillowパッケージが必要なためコンテナにinstall
  backend/tools/requirements.in
  backend/tools/requirements.txt
Due: none

:zap: (tournaments/round) roundモデルの単体テストを追加
  backend/pong/tournaments/round/tests/tests.py
Due: be_code_check, be_unit_test

:recycle: (FE:utils) まとめての append に変更
  frontend/pong/js/utils/elements/div/createDefaultCard.js
  frontend/pong/js/utils/elements/li/createDefaultListItem.js
  frontend/pong/js/utils/elements/ul/createDefaultUnorderedList.js
Due: fe_code_check, fe_unit_test

:recycle: (FE:UserProfile) メニューボタンの部分をまとめて管理
  frontend/pong/js/components/user/UserProfile.js
Due: fe_code_check, fe_unit_test

:seedling: (FE:Bootstrap) 長いテキストの省略処理を追加
  frontend/pong/js/bootstrap/utilities/text.js
Due: fe_code_check, fe_unit_test

:zap: (FE:createNameplate) 長すぎる名前の語尾を "..." で表示
  frontend/pong/js/utils/elements/div/createNameplate.js
Due: fe_code_check, fe_unit_test

:bug: (FE:ListContainer) 使用しない attributes 対応を一旦削除
  frontend/pong/js/components/utils/ListContainer.js
Due: fe_code_check, fe_unit_test

:zap: (FE:getUser) 無効な userId は fetch 前に処理できるように変更
  frontend/pong/js/api/users/getUser.js
Due: fe_code_check, fe_unit_test

:zap:(users) /api/users/{id}/,GETの404時にcode=internal_errorを返すように変更
  backend/pong/users/constants.py
  backend/pong/users/tests/integration/test_retrieve.py
  backend/pong/users/views/retrieve.py
Due: be_code_check, be_unit_test

:zap:(users) /api/users/me/,GET,PATCHのエラー時にcode=internal_errorを返すように変更
  backend/pong/users/views/me.py
Due: be_code_check, be_unit_test

:zap:(users) /api/users/me/,PATCHの400時にcode=invalidを返すように変更
  backend/pong/users/constants.py
  backend/pong/users/tests/integration/test_me.py
  backend/pong/users/views/me.py
Due: be_code_check, be_unit_test

:recycle:(friends,test) modelのテストをtest/unit/に移動
  backend/pong/users/friends/tests/unit/__init__.py
  backend/pong/users/friends/tests/unit/test_friendship_model.py
Due: be_code_check, be_unit_test

:zap:(avatar,users) /api/users/,GETでavatarもレスポンスに含めるように
  backend/pong/users/tests/integration/test_list.py
  backend/pong/users/views/list.py
Due: be_code_check, be_unit_test

:zap:(avatar,serializer) serializerにデフォルトのavatarフィールドが設定されていることを確認
  backend/pong/users/tests/unit/test_users_serializer.py
Due: be_code_check, be_unit_test
